/* Empty. Add your own CSS if you like */
.footerTitle {
    background: #3335ff;
    width: auto;
    height: 50px;
    position: absolute;
    margin-bottom: -10%;
}

.footerContainer {
    background: none;
    height: 75px;
    position: absolute;
    padding: 0;
}

.logo {
    content: url('../img/logo.png');
    margin-top: 3px;
    width: 55px;
}

.my-back-button {
    content: url('../img/icon/back.png');
    margin-top: 6px;
    width: 18px;
}

.my-menu-button {
    content: url('../img/icon/menu-W.png');
    margin-top: 8px;
    width: 24px;
}


/*.Circle-Left{*/
    /*left: 45%;*/
    /*top: 38%;*/
/*}*/

/*.circle-container {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0; /!*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*!/*/
    /*/!*border: dashed 5px;*!/*/
    /*border-radius: 50%;*/
    /*margin: 0 auto;*/
/*}*/

/*.circle-container a {*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 6em;*/
    /*height: 6em;*/
    /*margin: -3em; /!* 2em = 4em/2 *!/*/
    /*/!* half the width *!/*/
/*}*/

/*.circle-container img {*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 10%;*/
    /*width: 36%;*/
    /*height: auto;*/
    /*margin: -50%; /!* 2em = 4em/2 *!/*/
    /*/!* half the width *!/*/
/*}*/

.Circle-Left{
   left: -25%;
    top: -10%;
}

.circle-container {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 0; /*= 2e%m * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
    /*border: dashed 5px;*/
    border-radius: 50%;
    margin: 0 auto;
}

.circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin: 0em; /* 2em = 4em/2 */
    /* half the width */
}
/* ionic build ios */
.circle-container img {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 43%;
    height: auto;
    margin: -24%; /* 2em = 4em/2 */
    /* half the width */
}



.deg0 {
    transform: rotate(0deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(0deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(0deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(0deg) translate(112%) rotate(-270deg);
}

/* 12em = half the width of the wrapper */
.deg45 {
    transform: rotate(45deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(45deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(45deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(45deg) translate(112%) rotate(-270deg);
}

.deg90 {
    transform: rotate(90deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(90deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(90deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(90deg) translate(112%) rotate(-270deg);
}

.deg135 {
    transform: rotate(135deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(135deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(135deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(135deg) translate(112%) rotate(-270deg);
}

.deg180 {
    transform: rotate(180deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(180deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(180deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(180deg) translate(112%) rotate(-270deg);
}

.deg225 {
    transform: rotate(225deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(225deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(225deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(225deg) translate(112%) rotate(-270deg);
}

.deg270 {
    transform: rotate(270deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(270deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(270deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(270deg) translate(112%) rotate(-270deg);
}

.deg315 {
    transform: rotate(315deg) translate(112%) rotate(-270deg);
    -webkit-transform: rotate(315deg) translate(112%) rotate(-270deg);
   -moz-transform: rotate(315deg) translate(112%) rotate(-270deg);
   -o-transform: rotate(315deg) translate(112%) rotate(-270deg);
}


/* this is just for showing the angle on hover */
.circle-container a:not(.center):before {
    position: absolute;
    width: 4em;
    color: white;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    font: 1.25em/3.45 Courier, monospace;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: -2em;
    text-shadow: 0 0 .1em deeppink;
    transition: .7s; /* only works in Firefox */
    content: attr(class) 'Â°';
}


.circle-container a:not(.center):after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 0 0 .5em .5em white;
    margin: -2px;
    background: deeppink;
    opacity: .3;
    content: '';
}


/* Container */
.popup {

}

/* header */
.popup-head {
    background: #c8cbcb !important;
    color: #000000 !important;
    height: initial;
}

/* title text */
.popup-title {
  color: #fff !important;
}

/* popup body */
.popup-body {
  background: #f4f4f4 !important;
  color: #000000 !important;


}

/* buttons */
.popup-buttons {
  height: 20px !important;
    background: #f1f4f4 !important;
}

