<ion-view view-title="About the Circle">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3 class="InnerTitle">Our Profile</h3>
            <p>
                Ajman DED was established for the purpose to foster sustainable economic development of Ajman emirate with the involvement of UAE nationals
            </p>
            <h3 class="InnerTitle">Vision</h3>
            <p>
                Prosperous Economy & Well-being Enjoyed by Generations.
            </p>
            <h3 class="InnerTitle">Mission</h3>
            <p>
                Sustainable economic development through the planning and preparation of legislation, regulation and coordination, control and promotion of economic activities and diversification by preparation of economic policies to raise productivity and create an attractive environment for investment.
            </p>
            <h3 class="InnerTitle">Values</h3>
            <table style="width: 95%;margin: 1em">
                <tr>
                    <td style="width: 50%">Commitment & Results</td>
                    <td>Customer Service</td>
                </tr>
                <tr>
                    <td>Cooperation & partnerships</td>
                    <td>Transparency & Openness</td>
                </tr>
                <tr>
                    <td> Innovation & Creativity</td>
                    <td>Leadership & Teamwork</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>