<ion-view view-title="About the Circle">
    <ion-content class="content >
        <div class="Wrapper">
            <h3 class="InnerTitle">About the Economic Department</h3>
            <p>Economic Department was established in order to promote sustainable economic development of Ajman with the participation of the citizens of the United Arab Emirates.
            </p>
            <h3 class="InnerTitle">general information</h3>
            <p>Head of Department of Economic Development believes that it is now necessary to reactivate the Department of Economic Development to the Commission
                 Governmental quite active with the specific roles and responsibilities towards the economic future of the Emirate of Ajman.</p>

            <h3 class="InnerTitle">Our vision</h3>

            <p>
              A prosperous economy and well-being enjoyed by generations.
            </p>

            <h3 class="InnerTitle">Our Mission</h3>

            <p>Achieve sustainable economic development through the planning and preparation of legislation, regulation and coordination, supervision and promotion
                 Economic activities and diversification through the preparation of economic policies to raise productivity and create an attractive environment
                 Investment.
            </p>

            <h3 class="InnerTitle">Values</h3>

            <p>Leadership and teamwork
                 Commitment and results
            </p>

            <p>
                Cooperation and partnerships transparency and openness of innovation and creativityاع
            </p>

        </div>
    </ion-content>
</ion-view>