<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>
</head>
<body>
<ion-view view-title="Business Guide">
    <ion-content class="content">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <h3 class="InnerTitle">Manual for exercising economic activities</h3>
            <h4>Directorate of Control and Consumer Protection</h4>

            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="AwarenessMessage"><img src="img/icon/ourservices/icon_ser17.png"/>
                        </div>
                        <h2>Awareness letter to investors</h2>
                        <hr />
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="GeneralRequirements"><img src="img/icon/ourservices/icon_ser5.png"/>
                        </div>
                        <h2>The General conditions for exercising economic activities</h2>
                        <hr />
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <div class="icon" ui-sref="SpecialRequirements"><img src="img/icon/ourservices/icon_ser4.png"/>
                        </div>
                        <h2>The special conditions for exercising economic activities </h2>
                        <hr />
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <div class="icon" ui-sref="SpecialRequirements-Signboard"><img
                                src="img/icon/ourservices/icon_ser21.png"/></div>
                        <h2>The Special conditions for signboard of trade names</h2>
                        <hr />
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <div class="icon" ui-sref="List-Of-Violation"><img src="img/icon/ourservices/icon_cancel.png"/>
                        </div>
                        <h2>Lists of violations issued by the Department of Economic Development</h2>
                        <hr />
                    </li>
                    <li class="animated05 fadeInRightBig">
                        <div class="icon" ui-sref="Federal-And-Local-Laws"><img
                                src="img/icon/ourservices/icon_ser23.png"/></div>
                        <h2>Federal and local laws governing the exercise of economic business</h2>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
</body>
</html>