<div>
    <ul>
        <li class="animated01 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/Doc/2014AnnualReportEN.pdf', '_system', 'location=yes'); return false;"
                    >
                <h2 class="ButtonTitle">
                    Annual Economic Report 2014
                </h2>
            </a>
        </li>
        <li class="animated02 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/Doc/2013AnnualReportEN.pdf', '_system', 'location=yes'); return false;"
                    ><h2 class="ButtonTitle">
                Annual Economic Report 2013
            </h2>
            </a>
        </li>
        <li class="animated03 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/Doc/2012AnnualReportEN.pdf', '_system', 'location=yes'); return false;"
                    >
                <h2 class="ButtonTitle">
                    Annual Economic Report 2012
                </h2>
            </a>
        </li>
    </ul>

</div>