<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Annual Ecomomic Reports">
        <ion-content class="content">
            <div class="Page-Inner-Padding-Top"></div>
            <div class="Wrapper">
                <div class="Page-Inner-Padding-Top"></div>

                <h4 class="animated fadeInRightBig">Comprehensive Economical & Statistical Performance Report</h4>
                <div class="Page-Inner-Padding-Top"></div>
                <div class="VerticalListBlock2" ng-include="GetAnnualReport()">


                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>