<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Awareness letter to investors">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <p>
                   The laws regulating the practice of business is considered as one of the most important factors to attract investment in the emirate  in order to achive economic growth, In the regard the Department of Economic Development is endeavoring to achive the highest satisfation levels for the public  through the application of the best practices through which the state has sanctioned alot of fedral and local laws to regulate business and to achieve the highest level of satisfaction for the services rendered. 
                </p>
                <p>
                    We hope that the contents of this manual includs everything the investors need to start practicing the economic activites in accordance with the laws regulating the same.
                </p>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>