<ion-view view-title="Procedures to cancel licenses for  branches of establishments ">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3>Service Description</h3>
            <p>
                it is a legal and administrative action to be done by the owner / license holders (establishment or the like) with intent to cancel the facility license (the activity) finally .
            </p>
            <h3>Time of service</h3>
            <p>
                During the official working hours of service centers 
            </p>
            <h3>The beneficiary of the service</h3>
            <p>
                employee / dealer personnel / dealer companies / establishments
            </p>


            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Documents required for the service</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <p>
                    • The original license or Copy of it.<br />
                    • NOC from the Ministry of Labor.<br />
                    • Cancel residence or bring proof that the visa is not on the canceled license.<br />
                    • Resolution to remove the branch from the Board of Directors.

                </p>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Steps of service</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <p>
                    6. Fill out the cancellation form<br />
                    7. Provide the required documents<br />
                    8. Pay the fines, if any,<br />
                    9. Provide NOC from the Ministry of Labor<br />
                    10. Cancel residence or bring proof that the visa is not on the canceled license

                </p>

            </div>

            <h3>Required approvals and attestations from external entities from third parties</h3>
            <p>•  A liquidation letter credited by the court to liquidate the company.</p>

            <h4>Forms for requesting the service</h4>
            <p>form : Cancel EA-5-1-F4  </p>
            <h4>The concerned department to provide the service</h4>
            <p>Economic licenses section </p>



        </div>
        </ion-content>
    </ion-view>