<ion-view view-title="Procedures for renewal of licenses for civil works companies ">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3>Service Description</h3>
            <p>
                renewal of licenses for civil works companies
            </p>
            <h3>Time of service</h3>
            <p>
                During the official working hours of service centers
            </p>
            <h3>The beneficiary of the service</h3>
            <p>
                companies / establishments
            </p>


            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Documents required for the service</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <p>
                    • Valid copy of the identity card of the local owner<br />
                    • Copy of the passport of the investor<br />
                    • The original license or Copy of it in case of loss.<br />
                    • Inspection card.<br />
                    • Copy of the leas contract attestation or copy of the certificate of ownership of the property in the event that the property is in the name of the license holder.<br />
                    • Copy of a lease or ownership of warehouses, if any.

                </p>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Steps of service</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <p>
                    1. Fill in the license application form<br />
                    2. Attach the required documents<br />
                    3. Get approval from the control and inspection management<br />
                    4. The provision of external approvals<br />
                    5. Approve documents from the consulting counter<br />
                    6. Payment Fees<br />
                    7. Receipt of the license

                </p>

            </div>



            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Required approvals and attestations from external entities </h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">
                <p>
                    • Approval from other government agencies for the renewal, as stipulated in the list of foreign approvals based on activity.
                </p>

                <h4>Forms for requesting the service</h4>
                <p>license application EA-1-1-F1 </p>
                <h4>The concerned department to provide the service</h4>
                <p>Economic licenses section </p>

            </div>

        </div>
        </ion-content>
    </ion-view>