<ion-view view-title="Commercial Permits">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">

            <div class="TAC">
                <img src="img/icon/ourservices/icon_ser18.png" style="width: 20%;" />
            </div>
            <p>
                The commercial permit is an official document issued by the Department of Economic Development – Ajman (DED) and requires the existence of an active license in Ajman. The nature of the permitted activity should correspond to and be homogenous with the licensed activity. . Since the services is provided through Ajman DED Customer Service Centre as per the requirements.

            </p>
            <p>
                For more informations Click Here or Call 800 70 for more informations
            </p>


        </div>
    </ion-content>
</ion-view>