<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Suggestions And Complaints">
    <ion-content class="content">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="Suggestion">
                            <img src="img/icon/suggest.png" />
                        </div>
                        <h2>Suggestions</h2>
                        <hr />
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="complains">
                            <img src="img/icon/complaint.png" />
                        </div>
                        <h2>Complaints</h2>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>



</ion-view>