<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Get in Touch">
    <ion-content scroll="false" class="content">
        <div class="Wrapper animated03 fadeInRightBig">

            <h3 class="InnerTitle">Get in Touch</h3>
            <h4>Al Rashidiya 2 [Headquarter]</h4>
            <p>
                Sun - Thu: 7:30 am	- 2:30 pm
            </p>
            <h4>Al Humaidiya [Service Center]</h4>
            <p>
                Sun - Thu: 7:30 am	- 5:00 pm
            </p>
            <h4>Al Manamah [Service Center]</h4>
            <p>
                Sun - Thu: 7:30 am	-	2:30 pm
            </p>
            <h4>Masfout [Service Center]</h4>
            <p>
                Sun - Thu: 7:30 am	-	2:30 pm
            </p>

            <!--START-->
            <div class="MapsTapsWrapper">
                <ion-tabs class="tabs-light tabs-icon-top tabs-top">
                    <ion-tab title="Al Rashidiya 2" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content class="has-tabs-top has-header padding">
                                <div class="TAC">
                                    <img src="img/maps/map_main.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Al Humaidiya" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content class="MainMenu has-tabs-top has-header padding">
                                <div class="TAC">
                                    <img src="img/maps/map_hamedia.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Al Manamah" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content class="MainMenu has-tabs-top has-header padding">
                                <div class="TAC">
                                    <img src="img/maps/map_masfout.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Masfout" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content class="MainMenu has-tabs-top has-header padding">
                                <div class="TAC">
                                    <img src="img/maps/map_manama.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                </ion-tabs>
            </div>
            <!--END-->


            <br />
            <h3 class="InnerTitle">Contact Information</h3>
            <h4>Ajman DED</h4>
            <p>
                P.O. Box 870, Ajman, United Arab Emirates
            </p>
            <p>
                Toll Free : 800 55
            </p>
            <p>
                Email: info@ajmanded.ae
            </p>

        </div>
    </ion-content>
</ion-view>