<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Get in Touch">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>

            <h3 class="InnerTitle">Get in Touch</h3>
            <!--START-->
            <h2 class="Inner">Head Quarter </h2>
            <table>
                <tr>
                    <td style="width: 0px"></td>
                    <td>Al Rashidiya 2 - Ajman - Sheikh Rashid Bin Abdulaziz Road </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sun - Thu: 7:30 am	- 2:30 pm</td>
                </tr>
                <tr>
                    <td></td>
                    <td>25.3970238 - 55.4517429 </td>
                </tr>
            </table>

            <hr />

            <h2 class="Inner">Service Centers</h2>

            <h3><strong> Al-hamidiyeh Customer services center</strong></h3>

            <table>
                <tr>
                    <td style="width:0px"></td>
                    <td>Ajman - Sheikh Zaid Road. </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sun - Thu: 7:30 am	- 5:00 pm</td>
                </tr>
                <tr>
                    <td></td>
                    <td>25.3986137 - 55.5168672</td>
                </tr>
            </table>

            <h3><strong>Al Nakheel Customer services center</strong></h3>
            <table>
                <tr>
                    <td style="width: 0px"></td>
                    <td>Ajman - Corniche Street. </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Sun - Thu: 7:30 am	-	2:30 pm</td>
                </tr>
                <tr>
                    <td></td>
                    <td>25.4229016 - 55.4525397</td>
                </tr>
            </table>


            <h3><strong>Sanad customer services center</strong></h3>
            <table>
                <tr>
                    <td style="width: 0px"></td>
                    <td>Masfoot.</td>
                </tr>
                <tr>
                    <td></td>
                    <td> Sun - Thu: 7:30 am	-	2:30 pm</td>
                </tr>
                <tr>
                    <td></td>
                    <td>24.8136172 - 56.0868661</td>
                </tr>
            </table>

            <h3><strong>Municipality customer services center</strong></h3>
            <table>
                <tr>
                    <td style="width: 0px"></td>
                    <td>Manama. </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Sun - Thu: 7:30 am	-	2:30 pm</td>
                </tr>
                <tr>
                    <td></td>
                    <td>25.327103 - 56.00589725</td>
                </tr>
            </table>
            <!--END-->
            <!--START-->
            <div class="MapsTapsWrapper">
                <ion-tabs class="tabs-light tabs-icon-top tabs-top">
                    <ion-tab title="Al Rashidiya 2" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d450.52907405319706!2d55.4517429!3d25.3970238!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f583230e7af63%3A0xe3672e12422bc166!2sAjman+Department+of+Economic+Development-HQ!5e0!3m2!1sen!2sae!4v1490020000485" class="IFrame" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Al-hamidiyeh" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1093.0181616629907!2d55.51647515155524!3d25.39869439851037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDIzJzU1LjMiTiA1NcKwMzEnMDEuNyJF!5e1!3m2!1sen!2sae!4v1490020218507" class="IFrame" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Al Nakheel" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3603.4918393041667!2d55.444434!3d25.4218152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabbc6cd872bee0b3!2sDepartment+of+Economic+Development+-+Ajman+-+Inspection+Department!5e0!3m2!1sen!2sae!4v1490020235990" class="IFrame" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Sanad" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7242.635252869556!2d56.0721104!3d24.8188092!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67a1cdeff23572b4!2sDepartment+of+Economic+Development+-+Ajman+%2F+Masfot!5e0!3m2!1sen!2sae!4v1490020256322" class="IFrame" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="Municipality" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d901.5794774005594!2d56.005341729192885!3d25.327111098989775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDE5JzM3LjYiTiA1NsKwMDAnMjEuMiJF!5e0!3m2!1sen!2sae!4v1490020270867" class="IFrame" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                </ion-tabs>
            </div>
            <!--END-->


            <br />
            <h3 class="InnerTitle">Contact Information</h3>
            <h4>Ajman DED</h4>
            <table>
                <tr>
                    <td style="width: 22%;">P.O. Box</td>
                    <td>
                        870, Ajman, United Arab Emirates
                    </td>
                </tr>
                <tr>
                    <td>Toll Free </td>
                    <td>800 70</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>info@ajmanded.ae</td>
                </tr>
            </table>

        </div>
    </ion-content>
</ion-view>