<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="الأشكال القانونيه">
        <ion-content class="content" onscroll="false">
            <div class="Wrapper">
                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">المؤسسة الفردية</h2>
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">الشركة ذات مسؤولية محدودة</h2>
                        </li>
                        <li class="animated02 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">الشركات التضامنية</h2>
                        </li>
                        <li class="animated03 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">شركات المساهمة الخاصة </h2>
                        </li>
                        <li class="animated04 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">شركات المساهمة العامة </h2>
                        </li>
                        <li class="animated05 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">شركات الاعمال المدنية ووكيل خدمات</h2>
                        </li>
                        <li class="animated06 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">فروع الشركات الخليجية</h2>
                        </li>
                        <li class="animated07 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">فروع الشركات الأجنبية</h2>
                        </li>
                        <li class="animated08 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="legalForms">فروع الشركات من امارة اخرى </h2>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>