<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="الأشكال القانونيه">
        <ion-content class="content">
            <div class="Wrapper">
                <div class="Page-Inner-Padding-Top"></div>
                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="IndividualInstitution">Sole proprietorships </h2>
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Company-with-limited-liability">A limited liability company </h2>
                        </li>
                        <li class="animated02 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Corporate-solidarity">Joint ventures </h2>
                        </li>
                        <li class="animated03 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Private-joint-StockCompanies">Private joint-stock companies  </h2>
                        </li>
                        <li class="animated04 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Public-joint-StockCompanies">Public shareholding companies  </h2>
                        </li>
                        <li class="animated05 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Civil-Works-Companies">Civil works companies </h2>
                        </li>
                        <li class="animated06 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Branches-of-Gulf-Companies">Branches of GCC companies </h2>
                        </li>
                        <li class="animated07 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Branches-of-foreign-Companies">Branches of foreign companies </h2>
                        </li>
                        <li class="animated08 fadeInRightBig">
                            <h2 class="ButtonTitle" ui-sref="Branches-of-companies-from-Another-Emirate">Branches of companies from another emirate  </h2>
                        </li>
                         <li class="animated09 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="The-establishment-of-institutions-branch-actions">Branches of establishments </h2>
                    </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>