<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Customer Manual">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Awareness message to the consumer</h3>
                </div>
            </div>
            <div ng-show="expandme" class="animated01010 fadeInRightBig">
                <p>
                    Dear consumer,
                </p>
                <p>
                    Kindly be aware that the federal law No. 24 of year 2006 is the legal reference for your protection and as far as you are aware and knowledgeable of your rights and obligations we will be able to mitigate and reduce the negative phenomena that violate your rights, our objective is to keep you aware to avoid any illegal exploitation so please go through the tips below.
                </p>
            </div>

            <div ng-model="expandme02">
                <div ng-click="expandme02=!expandme02">
                    <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Consumer Rights</h3>
                </div>
            </div>
            <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                <ul class="VerticalList01">
                    <li>» &nbsp; The right to be protected from products and services that are hazardous to health and safety.</li>
                    <li>» &nbsp; The right to provide facts that help him to conduct a proper purchase and consumption.</li>
                    <li>» &nbsp; The right to choose between several alternatives of goods and services at competitive prices with quality assurance.</li>
                    <li>» &nbsp; The right to be heard.</li>
                    <li>» &nbsp; The right to satisfy his basic needs for the most necessary goods and services.</li>
                    <li>» &nbsp; The right to be compensated against any shoddy goods, unsatisfactory service or fraud practices.</li>
                    <li>» &nbsp; The right to be well educated , to acquire necessary knowledge and skills required to practice conscious selection of goods and services, and to be aware of the basic rights and responsibilities  through sustainable education programs.</li>
                    <li>» &nbsp; The right to live in a healthy environment.</li>

                </ul>
            </div>
            <div ng-model="expandme03">
                <div ng-click="expandme03=!expandme03">
                    <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  The Smart Consumer</h3>
                </div>
            </div>
            <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                <p>The smart consumer is the one who always checks the source of the goods as anything of an unknown source may usually be old, expired or reconditioned such as mobile phones and other electronic devices.</p>
                <p>The smart consumer follows the instructions to use the product as stated in the stickers shown on the product.</p>
                <p>The smart consumer always makes sure of the date of production and expiry of the products.</p>
                <p>The smart consumer always compares prices between various shops before buying to get the best price and the best quality.</p>
                <p>The smart consumer retains purchase invoice.</p>
                <p>The smart consumer retains copy of the product warranty to exercise his rights to return or replace defective products.</p>
                <p>The smart consumer usually helps us by reporting against street vendors, illegal cargo vehicles by contacting the consumer protection department.</p>
                <p>Please help us in the elimination of misleading publications and promotional ads which are usually placed in the windows of homes and cars.</p>
            </div>

            <div ng-model="expandme04">
                <div ng-click="expandme04=!expandme04">
                    <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Retrieval and replacement policy</h3>
                </div>
            </div>
            <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                <ul class="VerticalList01">
                    <li>» &nbsp; Attach the purchase invoice with your complaint.</li>
                    <li>» &nbsp; Provide product warranty.</li>
                    <li>» &nbsp; The consumer must inform the vendor by the defected item within a period specified by the vendor, not less than 14 days.</li>
                    <li>» &nbsp; The rejected good must be in the same condition as when purchased.</li>
                </ul>
            </div>

            <div ng-model="expandme05">
                <div ng-click="expandme05=!expandme05">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Ramadan Tips (advises)</h3>
                </div>
            </div>
            <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                <ul class="VerticalList01">
                    <li>» &nbsp; Buy as much as you need don’t exaggerate people sometimes behave irrationally.</li>
                    <li>» &nbsp; Buy as much as you need don’t exaggerate people sometimes behave irrationally.</li>
                    <li>» &nbsp; Keep in mind the shelf life of the short term consumer goods; phase your purchases on daily or weekly basis depending on the expiry date.</li>
                    <li>» &nbsp; By purchasing sufficient stock of goods before Ramadan you could avoid the exploitation of vendors and at the same time will help us to eliminate the phenomenon of prices inflation during Ramadan season.</li>
                    <li>» &nbsp; Buy your needs from the bigger and major sales outlets in the month of Ramadan because that guarantees you the lowest prices.</li>


                </ul>
            </div>

            <div ng-model="expandme06">
                <div ng-click="expandme06=!expandme06">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Discounts, prizes and promotions</h3>
                </div>
            </div>
            <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                <ul class="VerticalList01">
                    <li>» &nbsp; Follow up the discount seasons and promotions announced by the big supermarkets in order to benefit from the lower prices offered.</li>
                    <li>» &nbsp; Compare prices before and after discounts to avoid been ploughed by wrong discount messages.</li>
                    <li>» &nbsp; Check the quality of the products presented during promotions and discounted sales.</li>
                    <li>» &nbsp; Keep the prize voucher until the expiration of the offers.</li>


                </ul>
            </div>

            <div ng-model="expandme07">
                <div ng-click="expandme07=!expandme07">
                    <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Laws and Regulations</h3>
                </div>
            </div>
            <div ng-show="expandme07" class="animated01010 fadeInRightBig">
                <p>Consumer Protection Executive Regulation - En</p>
                <p>Consumer Protection Law - En</p>
            </div>
            <br />
            <h3 class="animated06 fadeInRightBig">Call Toll-free number 80055 to submit your Complaint or Suggestion.</h3>
        </div>
    </ion-content>
</ion-view>