<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Objectives">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h3 class="InnerTitle">Objectives</h3>
                <p>
                    The Department aims towards the achievement of a comprehensive and sustainable economic development in the Emirate by carrying out the following:


                </p>
                <p>
                    Adoption of the best economic and administrative practices used locally and regionally and internationally in carrying out the economic activities and using the best modern technologies and methods relating to the collection of information and economic data and in formulating the appropriate plans for ensuring the best use of financial and human resources and abilities available in the Emirate.

                </p>
                <p>
                    Provision of the required infrastructure for the achievement of a diversified economy of resources in the Emirate and the achievement of the continuous and sustainable development for all economic sectors in the Emirate.

                </p>
                <p>
                    Economic promotion for the Emirate, locally and internationally, and the provision of the developed legislative environment and best climate for attracting the local and foreign investments and accurate information and data and the opportunities for using the modern technology to find out all investment opportunities available in the Emirate, easily and smoothly.

                </p>
                <p>
                    Raising awareness among the public, and the business community in the Emirate and providing them with the adequate information and data on the course of the various economic activities inside and outside the Emirate.

                </p>
            </div>

        </ion-content>
    </ion-view>
</body>
</html>