<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="License Inquiry">
        <ion-content scroll="false" class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <div class="TAC"><img src="img/icon/request.png" /></div>
                <div style="height: 1em"></div>
                <p>تساعد خدمة الإستعلام القطاع الإقتصادى في الحصول على بيانات المنشآت الإقتصادية بإمارة عجمان وضمان مبدأ الشفافية الإقتصادية على مستوى الإمارة. حيث يتمكن المستخدم من الإستعلام عن بيانات الرخصة بدلالة رقم الرخصة بسهولة ويسر.</p>
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <div class="MyButton" ui-sref="QueryingLicense">Inquiry</div>
            </div>

        </ion-content>
    </ion-view>
</body>
</html>