<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Business Guide">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>Federal and local laws in force in the Department of Economic Development</h1>
                
                <ul class="Listdisc VerticalList01">
                    <li>Amiri local decision No. 13 of 2015</li>
                    <li>Commercial Registration Act No. 5 of the 1973 </li>
                    <li>The law Organizing and Protection of Industrial Property Patents and Industrial Designs No. 17 of the 2002 </li>
                    <li>Law of deception and fraud No. 4 of 1979</li>
                    <li>The law Regulating commercial agencies No. 8 of the 1981 </li>
                    <li>Commercial Companies Law No. 2 of 2015</li>
                    <li>Trademark Law No. 37 of 1992</li>
                    <li>The law regulating trading in precious Stones No. 9 of 1993</li>
                    <li>Commercial Transactions Law No. 18 of 1993</li>
                    <li>Copyright and related rights law No. 7 of 2002</li>
                    <li>Controls on the import, export and transit of rough diamonds No. 13 of the 2004 Act</li>
                    <li>Anti-cover commercial law No. 17 of 2004</li>
                    <li>Transactions and e-commerce law No. 1 of 2006</li>
                    <li>Consumer Protection Act No. 24 of 2006</li>
                    <li>The organization of the competition No. 4 of 2012 Act</li>
                    <li>Patents and Industrial Designs Act No. 44 of the United Arab Emirates in 1992</li>
                    <li>Small and medium enterprises Law No. 2 of 2014</li>
                </ul>


                <br />
                <h2 class="Note">For suggestions and complaints please dial toll free number 80 055 - A service that preserve your rights</h2>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>