<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Business Guide">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>The General conditions for conducting economic activities</h1>
                <ul class="VerticalList01">
                    <li>» &nbsp; To refrain from performing any activity without a license or permit by the Department</li>
                    <li>» &nbsp; Not to use the location of the facility for the purpose of housing or any other purposes except the authorized activity Customer Service</li>
                    <li>» &nbsp; Not to make any modification or change in the license data except after reference to the department</li>
                    <li>» &nbsp; Change location requires prior approval from the department</li>
                    <li>» &nbsp; Secret doors or rooms in the facility are not allowed</li>
                    <li>» &nbsp; Place a signboard on the front of the shop specifying working hours</li>
                    <li>» &nbsp; Allocating separate measure rooms (Men / women) in garments and tailoring shops </li>
                    <li>» &nbsp; Not over accumulating goods in the shop</li>
                    <li>» &nbsp; Not display goods outside the shop</li>
                    <li>» &nbsp; Do not install surveillance cameras in women's salons and shops or women's tailoring or in special places and to fix a notice  (the place is monitored by  cameras) and that is only for authorized activities</li>
                    <li>» &nbsp; Smoking is prohibited in the shop</li>
                    <li>» &nbsp; Do not put any add posters on the front of the shop before obtaining a prior given that the area of the add shall not exceed 50% of the interface area</li>
                    <li>» &nbsp; Not to put coin machines before obtaining a permit</li>
                    <li>» &nbsp; Not to sell cigarettes to those who are below the legal age of 18 years</li>
                    <li>» &nbsp; It is strictly prohibited the sale or storage of fireworks</li>
                    <li>» &nbsp; Shops selling popular herbs or any products or medical or therapeutic or medicinal or herbal preparations to give therapeutic prescriptions.</li>
                    <li>» &nbsp; Attend the department to get permission if there is a warehouse </li>
                    <li>» &nbsp; Do not carry out repairing devices without obtaining the appropriate permit </li>
                    <li>» &nbsp; Not to sell or download any software which are not genuine </li>
                    <li>» &nbsp; Not to sell or download programs to open the Restricted sites</li>
                    <li>» &nbsp; Not to promote products and services by phone absolutely</li>
                    <li>» &nbsp; Not to promote for the shop through brochures or posters before obtaining a permit from the department</li>
                    <li>» &nbsp; Not to shade floor shops, with the exception of the women's clinics, salons</li>
                    <li>» &nbsp; Place copy of the license or permit in a prominent place in the shop</li>
                    <li>» &nbsp; Permission and prior approval is required for discounted sales and promotional campaigns from the department</li>
                    <li>» &nbsp; Do not put paper ads on the facades of houses and on cars</li>
                    <li>» &nbsp; Adhere to fix the prices on goods</li>
                    <li>» &nbsp; The consumer has the right to got a purchase invoice</li>
                    <li>» &nbsp; Shop owner must highlight the retrieval and replacement policy in a prominent place</li>
                    <li>» &nbsp; Not to do the promote, sell or supply any counterfeit or adulterated goods or of unknown source</li>
                    <li>» &nbsp; Importance of adhering to the agreement between the contracted parties</li>
                    <li>» &nbsp; To comply with the laws regulating consumer rights</li>
                    <li>» &nbsp; Not to impose an additional fee for the use of credit cards</li>
                    <li>» &nbsp; Not perform activity after 12:00 pm without obtaining a permit</li>
                    <li>» &nbsp; Commitment to fix the date of production and expiry on goods</li>
                    <li>» &nbsp; In the event of a warranty on spare parts or electrical appliances to inform the buyer in writing by the covers of the warranty and by the guarantee period and the reasons leading to the abolition of warranty</li>
                    <li>» &nbsp; The entity must obtain permission from the department in the event of an organizing a promotional campaign, discounts or offers </li>
                    <li>» &nbsp; To be cautious in dealing to purchase from vehicles not bearing trade names or not issuing invoices and the need to know the source of goods that are displayed or sold</li>
                    <li>» &nbsp; The prices for service should be presented to the consumer before providing the service</li>
                    <li>» &nbsp; Do not install any products bearing counterfeit trademarks</li>
                    <li>» &nbsp; To provide the customer with a paper to prove that the workshop had received  the vehicle from the client with a sketch map illustrating the previous scratches or bruises on the car</li>
                    <li>» &nbsp; The workshop shall be responsible for the car under its custody during the repair process until the customer receive the vehicle</li>
                </ul>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>