<ion-view view-title="Renew License">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h2 class="Inner">Sole proprietorships</h2>
            <h3>Service Description</h3>
            <p>
                renewal of of sole proprietorship licenses 
            </p>
            <h3>Time of service</h3>
            <p>
                During the official working hours of service centers 
            </p>
            <h3>The beneficiary of the service</h3>
            <p>
                companies / establishments
            </p>


            
            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Documents required for the service</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>Copy of a valid  identity card for the local owner</li>
                    <li>Copy of the passport of the local or GCC owner</li>
                    <li>Copy of the lease contract attestation certificate , or Copy of the certificate of ownership of the property in the event that the property is in the name of the license holder</li>

                </ul>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Steps to provide  service </h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <ul class="Listdecimal">
                    <li>Filling the license application form</li>
                    <li>Attach the required documents</li>
                    <li>Get approval from the control and inspection section</li>
                    <li>The provision of external approvals</li>
                    <li>Approve validity of documents from the consulting counter</li>
                    <li>Payment of fees</li>
                    <li>Receipt of the license</li>

                </ul>

            </div>



            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Required approvals and attestations from external entities</h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>Approval from other government agencies for the renewal, as stipulated in the list of foreign approvals based on activity.</li>
                </ul>

                <h4>Forms for requesting the service</h4>
                <p>license application EA-1-1-F1 </p>
                <h4>The concerned department to provide the service</h4>
                <p>Economic licenses section </p>

            </div>

        </div>
        </ion-content>
    </ion-view>