<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Our Profile">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h3 class="InnerTitle">Our Profile</h3>
                <p>
                    Ajman DED was established for the purpose to foster sustainable economic development of Ajman emirate with the involvement of UAE nationals


                </p>
                <h3 class="InnerTitle">Vision</h3>
                <p>
                    a diversified competitive economy for sustainable development in the emirate of Ajman.


                </p>
                <h3 class="InnerTitle">Mission</h3>
                <p>
                    To achieve a prosperous economy for the welfare of the population of the emirate through planning and setting out policies , legislations, regulations and control and through economical promotion.


                </p>
                <h3 class="InnerTitle">Values</h3>
                <table style="width: 95%;margin: 1em">
                    <tr>
                        <td style="width: 50%">Team spirit.</td>
                        <td>Customer satisfaction</td>
                    </tr>
                    <tr>
                        <td>Transparency</td>
                        <td>creativity and innovation.</td>
                    </tr>
                </table>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>