<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Business Guide">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>Lists of violations issued by the Department of Economic Development</h1>
                
                <table class="table-2" cellspacing="0" border="0">
                    <style>
                        .custompadding {
                            padding: 5px;
                        }
                    </style>
                    <tbody>
                        <tr>
                            <th class="custompadding">#</th>
                            <th class="custompadding">Violation</th>
                            <th class="custompadding">Fine(AED)</th>

                        </tr>
                        <tr>
                            <td class="custompadding">1</td>
                            <td class="custompadding">Practicing an economic activity without a license or permit</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">2</td>
                            <td class="custompadding">Non-compliance with the conditions of the permit</td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">3</td>
                            <td class="custompadding">The exercise of an economic activity not contained in the license</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">4</td>
                            <td class="custompadding">Performing an economic activity at the facility during the period of closure by the department</td>
                            <td class="custompadding">10,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">5</td>
                            <td class="custompadding">Not  renewing  the license during the prescribed time limit (one month from the license expiration date)</td>
                            <td class="custompadding">250/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">6</td>
                            <td class="custompadding">Delay in renewing license (per month and part of month is counted as  a full month)</td>
                            <td class="custompadding">200/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">7</td>
                            <td class="custompadding">Change or add the authorized activity without obtaining the approval of the department or the competent governmental authority</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">8</td>
                            <td class="custompadding">The practice of the authorized activity outside the establishment</td>
                            <td class="custompadding">2,500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">9</td>
                            <td class="custompadding">Announcing performing any economic activity in violation of the applicable legislations</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>

                        <tr>
                            <td class="custompadding">10</td>
                            <td class="custompadding">The exploitation of the establishment premises in unauthorized activities</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">11</td>
                            <td class="custompadding">Obstruct the work of the department’s  staff</td>
                            <td class="custompadding">10,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">12</td>
                            <td class="custompadding">Non-compliance with a summon to attend the department </td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">13</td>
                            <td class="custompadding">Non- commitment to the undertaking submitted to the Department, or the instructions, conditions and regulations issued by the same </td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">14</td>
                            <td class="custompadding">Providing incorrect data to the Department</td>
                            <td class="custompadding">20,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">15</td>
                            <td class="custompadding">Failure to meet the time limits allocated to age groups for gymnasiums halls</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">16</td>
                            <td class="custompadding">Placing money distributing machines based on luck , gaining profit  or gambling </td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">17</td>
                            <td class="custompadding">Promote a product or service through phone calls or in houses  through clients or delegates</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">18</td>
                            <td class="custompadding">Display products for sale by way of calling on the roads</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">19</td>
                            <td class="custompadding">Storage of goods within the offices and shops</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">20</td>
                            <td class="custompadding">Displaying  goods or providing services outside the shops without a permit</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">21</td>
                            <td class="custompadding">Selling by roaming</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">22</td>
                            <td class="custompadding">Employing or the presence of men in ladies  salons or women's fitness clubs and massage centers or vice versa </td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">23</td>
                            <td class="custompadding">Selling or displaying publications or sale of goods or other means  violating public morality or Islamic customs or offending  the goodwill of the state or traditions</td>
                            <td class="custompadding">10,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">24</td>
                            <td class="custompadding">Selling firecrackers and dangerous tools</td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">25</td>
                            <td class="custompadding">Organizing and setting (Exhibition / Conference) without a permit from the department</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">26</td>
                            <td class="custompadding">To work extra hours without permission from the department</td>
                            <td class="custompadding">1,500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">27</td>
                            <td class="custompadding">Non- commitment of restaurants and Cafe’s and the alike by obtaining permit to work during the day in Ramadan</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">28</td>
                            <td class="custompadding">Establish / construct a commercial tent without a permit</td>
                            <td class="custompadding">15,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">29</td>
                            <td class="custompadding">Placing ATM machines outside the bank or direct selling devices without a permit</td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">30</td>
                            <td class="custompadding">The exercise of restaurants, cafes and the like for her work during the day in Ramadan without a permit</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">31</td>
                            <td class="custompadding">Non-compliance with the permit for extra hours</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">32</td>
                            <td class="custompadding">Open an additional office to an existing license without a permit</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">33</td>
                            <td class="custompadding">Shading the front facade of the shop by more than 50%</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">34</td>
                            <td class="custompadding">Construct a cabin / Counter / commercial cabins without a license for those holding a license or permit to another who is not a licensed</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">35</td>
                            <td class="custompadding">Manipulation in the process of prize drawing</td>
                            <td class="custompadding">15,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">36</td>
                            <td class="custompadding">Drawing  prizes without the presence of the representative of the department</td>
                            <td class="custompadding">10,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">37</td>
                            <td class="custompadding">Sale promotional campaign tickets for a fee without permission</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">38</td>
                            <td class="custompadding">Not providing or disbursing the prize to the winners during the period specified by the department</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">39</td>
                            <td class="custompadding">Non-compliance with the specific period for offers permits </td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">40</td>
                            <td class="custompadding">Non - commitment to the location of the promotional campaign events</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">41</td>
                            <td class="custompadding">Extension of the promotional campaign without the consent of the department</td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">42</td>
                            <td class="custompadding">Implementation of the promotional campaign in contrary to authorized manner</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">43</td>
                            <td class="custompadding">Make discounted sales or offers or promotions or providing awards without a permit</td>
                            <td class="custompadding">10,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">44</td>
                            <td class="custompadding">Not keeping the prices list approved by the department during the process of discounted sales or special offers</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">45</td>
                            <td class="custompadding">Non-compliance with the period specified for discount sales permit (discounts  / Special Offer)</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">46</td>
                            <td class="custompadding">Not placing approved prices cards on goods (discounts  / Special Offer)</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">47</td>
                            <td class="custompadding">Non-compliance with the space authorized in the discount or special offers permit </td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">48</td>
                            <td class="custompadding">Not settling the promotional campaign within two months</td>
                            <td class="custompadding">3,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">49</td>
                            <td class="custompadding">Failure to meet the deadline for the withdrawal of prizes </td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">50</td>
                            <td class="custompadding">Placing banner ad or electronic screens without a permit</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">51</td>
                            <td class="custompadding">Distribution of advertising leaflets in public and private places without a permit</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">52</td>
                            <td class="custompadding">Fixing  advertising leaflets in public and private places without a permit</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">53</td>
                            <td class="custompadding">Not placing a  Banner bearing the brand name</td>
                            <td class="custompadding">500/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">54</td>
                            <td class="custompadding">Non-compliance with the terms of the advertising approved by the Department</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">55</td>
                            <td class="custompadding">Placing  / exploiting the  slogan of Ajman Shopping Festival without a permit</td>
                            <td class="custompadding">20,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">56</td>
                            <td class="custompadding">Lack of match between the price list approved by the department and the prices of goods offered</td>
                            <td class="custompadding">2,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">57</td>
                            <td class="custompadding">Non-commitment to remove the violation within the deadline set by the department </td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">58</td>
                            <td class="custompadding">Non-use of posters and advertising materials of  Ajman Shopping Festival by establishments  participating in the festival</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">59</td>
                            <td class="custompadding">The use of posters and advertising materials of the festival without a permit</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">60</td>
                            <td class="custompadding">The disposition of the goods have been impounded by the department</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">61</td>
                            <td class="custompadding">Refuse to sign a seizure report or the minutes of the reservation of  the goods or the minutes of sampling</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">62</td>
                            <td class="custompadding">Acquiring of a commodity of unknown source or not accompanied by the documents referring to the source or of misleading information for the purpose of selling or displaying</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">63</td>
                            <td class="custompadding">Perform any act such as manufacture, display or sale or marketing or promotion of goods in violation of the prevailing laws</td>
                            <td class="custompadding">15,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">64</td>
                            <td class="custompadding">Delays in the renewal of warehouses permit (for each month and part of a month counted as a full month)</td>
                            <td class="custompadding">200/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">65</td>
                            <td class="custompadding">Add a warehouse for an industrial, commercial or professional unit without obtaining a permit from the department</td>
                            <td class="custompadding">5,000/-</td>

                        </tr>
                        <tr>
                            <td class="custompadding">66</td>
                            <td class="custompadding">Writing or installation of signboard in violation to the specifications approved by  the Department</td>
                            <td class="custompadding">1,000/-</td>

                        </tr>
                    </tbody>
                </table>


                <table class="table-2" cellspacing="0" border="0">
                    <style>
                        .custompadding {
                            padding: 5px;
                        }
                    </style>
                    <tbody>
                        <tr>
                            <th class="custompadding">#</th>
                            <th class="custompadding">Other procedures</th>


                        </tr>
                        <tr>
                            <td class="custompadding">1</td>
                            <td class="custompadding">Fine will be doubled in the event of repeating the violation for the second time and fixed to a limit of AED 100,000/- per year for the later violation</td>


                        </tr>
                        <tr>
                            <td class="custompadding">2</td>
                            <td class="custompadding">In addition to fine the department may take all or one of the following measures :</td>


                        </tr>
                        <tr>
                            <td class="custompadding">2.1</td>
                            <td class="custompadding">Closing the establishment for a period not exceeding 6 months</td>


                        </tr>
                        <tr>
                            <td class="custompadding">2.2</td>
                            <td class="custompadding">Confiscating or retaining the goods caught </td>


                        </tr>
                        <tr>
                            <td class="custompadding">2.3</td>
                            <td class="custompadding">Cancel the license </td>


                        </tr>
                    </tbody>
                </table>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>