<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Media Center">
    <ion-content class="content">


        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <ion-list>

                <div class="TAC animated03 fadeInRightBig">
                    <img src="http://ded.sdg.ae/Ufiles/News/{{model.Article.NewsImage}}   "/>
                </div>
                <h1 class="animated04 fadeInRightBig">{{model.Article.NewsDate}}</h1>

                <h2 class="Inner animated05 fadeInRightBig">{{model.Article.NewsTitleEn}}</h2>

                <p class="animated06 fadeInRightBig">{{model.Article.NewsDetailsEn}}</p>

                <hr/>
                <br/>


            </ion-list>

        </div>


    </ion-content>
</ion-view>