<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Consulting Service">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>



                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <div class="icon" ui-sref="LegalAdvisor">
                                <img src="img/icon/ourservices/icon_ser1.png" />
                            </div>
                            <h2>Get Legal Advice</h2>
                            <hr />
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <div class="icon" ui-sref="EconomicAdvisor">
                                <img src="img/icon/ourservices/icon_ser28.png" />
                            </div>
                            <h2>Get Business Economic Advice</h2>
                            <hr />
                        </li>
                    </ul>
                </div>


            </div>
        </ion-content>
    </ion-view>
</body>
</html>