<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Our Services">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <div ng-model="expandme">
                    <div ng-click="expandme=!expandme">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Get Legal Advice</h3>
                    </div>
                </div>
                <div ng-show="expandme" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser1.png" style="width: 20%;" />
                    </div>
                    <p>
                        The Ajman Department of Economic Development (Ajman DED) has built its structure around ease of business and providing as much support as possible to new companies looki​ng to either enter or expand in one of world's most exciting marketplaces. ​ While the vast majority of the requirements, regulations and rules are comprehensive, the diversity of Ajman's economy means that there will always be cases where extra clarification is needed. ​​ Ajman DED's Legal Affairs Sector is always on hand to lend advice and provide a qualified counsel on individual cases. It may be that there is a unique case which requires new or amended regulations or a complex business activity which needs professional judgement.

                    </p>
                    <p>
                        For more informations write to legal_advisor@ajmanded.ae

                    </p>
                </div>

                <div ng-model="expandme02">
                    <div ng-click="expandme02=!expandme02">
                        <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Get Business Economic Advice</h3>
                    </div>
                </div>
                <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser28.png" style="width: 20%;" />
                    </div>
                    <p>
                        You are constantly faced with important issues that directly affect your financial business operations, such as complex financial matters, cost control and improving the internal organisation.

                    </p>
                    <h4>Our specialist areas include:</h4>
                    <p>Setting up the accounting structure</p>
                    <p>
                        Valuation principles
                    </p>
                    <p>
                        For more informations write to economic_advisor@ajmanded.ae

                    </p>
                </div>
                <div ng-model="expandme03">
                    <div ng-click="expandme03=!expandme03">
                        <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i>Issuing licenses of companies</h3>
                    </div>
                </div>
                <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser25.png" style="width: 20%;" />
                    </div>
                    <p>
                        The service of issuing licenses of companies gives investors different investment opportunities with variety of partners, since the services is provided through Ajman DED Customer Service Centre as per the requirements.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations   
                    </p>
                </div>

                <div ng-model="expandme04">
                    <div ng-click="expandme04=!expandme04">
                        <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Issuing Licenses of Individual Companies</h3>
                    </div>
                </div>
                <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser20.png" style="width: 20%;" />
                    </div>
                    <p>
                        The service of issuing licenses of companies gives investors different investment opportunities with variety of partners, since the services is provided through Ajman DED Customer Service Centre as per the requirements.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations
                    </p>
                </div>

                <div ng-model="expandme05">
                    <div ng-click="expandme05=!expandme05">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Issuing licenses of joint-stock companies</h3>
                    </div>
                </div>
                <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser24.png" style="width: 20%;" />
                    </div>
                    <p>
                        The service of issuing licenses of joint-stock companies, public or private, gives investors different investment opportunities in accordance with their requirements, since the services is provided through Ajman DED Customer Service Centre as per the requirements.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations

                    </p>
                </div>

                <div ng-model="expandme06">
                    <div ng-click="expandme06=!expandme06">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Renew Business License</h3>
                    </div>
                </div>
                <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser7.png" style="width: 20%;" />
                    </div>
                    <p>
                        Any business license in Ajman must be renewed annually. The renewal process only requires a valid tenancy contract of the business location from Ajman Municipality and planning department based on the license business activities.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations
                    </p>
                </div>

                <div ng-model="expandme07">
                    <div ng-click="expandme07=!expandme07">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Amendment of trade licenses</h3>
                    </div>
                </div>
                <div ng-show="expandme07" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser16.png" style="width: 20%;" />
                    </div>
                    <p>
                        Amendment of trade license allows the investors to amend or add a commercial activity or any other changes in the license. Since the services is provided through Ajman DED Customer Service Centre as per the requirements.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations
                    </p>
                </div>

                <div ng-model="expandme08">
                    <div ng-click="expandme08=!expandme08">
                        <h3 class="CollapsTitle animated06 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Commercial Permits</h3>
                    </div>
                </div>
                <div ng-show="expandme08" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser18.png" style="width: 20%;" />
                    </div>
                    <p>
                        The commercial permit is an official document issued by the Department of Economic Development – Ajman (DED) and requires the existence of an active license in Ajman. The nature of the permitted activity should correspond to and be homogenous with the licensed activity. . Since the services is provided through Ajman DED Customer Service Centre as per the requirements.

                    </p>
                    <p>
                        For more informations Click Here or Call 800 55 for more informations

                    </p>
                </div>

                <div ng-model="expandme09">
                    <div ng-click="expandme09=!expandme09">
                        <h3 class="CollapsTitle animated07 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Consumer Complaints</h3>
                    </div>
                </div>
                <div ng-show="expandme09" class="animated01010 fadeInRightBig">
                    <div class="TAC">
                        <img src="img/icon/ourservices/icon_ser13.png" style="width: 20%;" />
                    </div>
                    <p>
                        The Consumer Protection Division of the Department of Economic Development promotes consumer protection and fair-trading in Ajman.

                    </p>
                    <p>
                        Call 800 55 for more informations or write to us
                    </p>
                </div>
                <br />
                <h3 class="animated08 fadeInRightBig">Call 800 55 for more informations</h3>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>