<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Happiness scale">
    <ion-content class="content">

        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <h3 class="InnerTitle">How was your experience?</h3>

            <table style="width: 95%;margin: 1em">
                <tr>
                    <td style="width: 33.3%;text-align: center"><div class="Happeness-face1"></div></td>
                    <td style="width: 33.3%;text-align: center"><div class="Happeness-face2"></div></td>
                    <td style="width: 33.3%;text-align: center"><div class="Happeness-face3"></div></td>
                </tr>
                <tr>
                    <td style="text-align: center">Very happy</td>
                    <td style="text-align: center">Happy</td>
                    <td style="text-align: center">Unhappy</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>