<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Notifications">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>

                <ion-list>
                <ion-item ng-repeat="item in model.Notifications" class="No-Item">
                    <h2 class="InnerTitle">{{item.NotificationTitleEn}}</h2>

                    <h3 class="InnerTitle">{{item.NotificationDate}}</h3>
                    <h4>
                        <span class="ion-checkmark"></span>
                        {{item.NotificationMessageEn}}
                    </h4>
                    <hr />
                    <br/>
                </ion-item>
            </ion-list>


        </div>
    </ion-content>
</ion-view>