<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="E Services">
        <ion-content class="content">
            <div class="Wrapper">
                <div class="Page-Inner-Padding-Top"></div>
                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <div class="icon" ui-sref="registration"><img src="img/icon/register.png" /></div>
                            <h2>Create New User</h2>
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <div class="icon" ui-sref="renewPermit"><img src="img/icon/renew.png" /></div>
                            <h2>Renew Sole Establishment License</h2>
                        </li>
                        <li class="animated02 fadeInRightBig">
                            <div class="icon" ui-sref="QueryingLicense"><img src="img/icon/request.png" /></div>
                            <h2>License Inquiry</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>