<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Regulations">
        <ion-content class="content">
            <div class="Page-Inner-Padding-Top"></div>
            <div class="Wrapper">
                <div class="Page-Inner-Padding-Top"></div>

                <h4 class="animated fadeInRightBig">Comprehensive Economical & Statistical Performance Report</h4>
                <div class="Page-Inner-Padding-Top"></div>
                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated01 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/2015.pdf" target="_blank">
                                <h2 class="ButtonTitle">
                                    Federal Law No. (2) of 2015
                                </h2>
                            </a>
                        </li>
                        <li class="animated02 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/2014.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (2) of 2014</h2>
                            </a>
                        </li>
                        <li class="animated03 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/2012.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (4) of 2012</h2>
                            </a>
                        </li>
                        <li class="animated04 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/2006a.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (31) of 2006</h2>
                            </a>
                        </li>
                        <li class="animated05 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(1)_of_2006.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (1) of 2006 concerning electronic transactions and commerce</h2>
                            </a>
                        </li>
                        <li class="animated06 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(24)_of_2006.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (24) of 2006 regarding consumer protection</h2>
                            </a>
                        </li>
                        <li class="animated07 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(8)_of_2004.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (8) of 2004 regarding financial free zones</h2>
                            </a>
                        </li>
                        <li class="animated08 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/2004a.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (17) of 2004</h2>
                            </a>
                        </li>
                        <li class="animated09 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(13)_of_2004.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (13) of 2004 regarding controlling the import, export and transit of rough diamonds</h2>
                            </a>
                        </li>
                        <li class="animated010 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(4)_of_2002.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (4) of 2002 regarding criminalization of money laundering</h2>
                            </a>
                        </li>
                        <li class="animated011 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(17)_of_2002.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (17) of 2002 regarding organization and protection of industrial property</h2>
                            </a>
                        </li>
                        <li class="animated012 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(7)_of_2002.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (7) of 2002 on copyrights and related rights</h2>
                            </a>
                        </li>
                        <li class="animated013 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(4)_of_2000.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (4) of 2000 regarding the Emirates Securities and Commodities Authority and Market</h2>
                            </a>
                        </li>
                        <li class="animated014 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(22)_of_1995.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (22) of 1995 regarding organization of the auditing profession and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/1993.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (9) of 1993</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(18)_of_1993.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (18) of 1993 regarding commercial transactions</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/1992b.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (44) of 1992</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(37)_of_1992.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (37) of 1992 regarding the protection of trademarks and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(8)_of_1984.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (8) of 1984 on commercial companies and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(18)_of_1981.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (18) of 1981 concerning the organization of commercial agencies</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(8)_of_1980.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (8) of 1980 regarding the regulation of labor relations and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(10).pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (10) of 1980 concerning the Central Bank, the monetary system and the organization of the banking profession and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(4)_of_1979.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (4) of 1979 concerning the suppression of fraud and deceit in commercial transactions</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(1)_of_1979.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (1) of 1979 regarding the organization of industry affairs and its amendments</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Business_Laws_in_UAE/Federal_Law_No_(5)_of_1975.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (5) of 1975 regarding the commercial register</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/consumer_law/1973.pdf" target="_blank">
                                <h2 class="ButtonTitle">Federal Law No. (5) of 1973 regarding the commercial register</h2>
                            </a>
                        </li>
                    </ul>  

                </div>                
                

                <h4 class="animated fadeInRightBig">LOCAL BUSINESS LAWS</h4>
                <div class="Page-Inner-Padding-Top"></div>
                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Local_Business_Laws/Law_No_(1)_of_1993.pdf" target="_blank">
                                <h2 class="ButtonTitle">Law No. (1) of 1993 regarding the exercise of economic or, professional or craft business for the non-UAE nationals in the Emirate of Ajman</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Local_Business_Laws/Law_No_2_of_1991.pdf" target="_blank">
                                <h2 class="ButtonTitle">Law No. 2 of 1991 regarding the licensing of professionals and artisans from the non- UAE nationals in the Emirate of Ajman.</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Local_Business_Laws/Law_of_Commercial_Licenses_of_1985.pdf" target="_blank">
                                <h2 class="ButtonTitle">Law of Commercial Licenses of 1985</h2>
                            </a>
                        </li>
                        <li class="animated015 fadeInRightBig">
                            <a href="http://www.ajmanded.ae/Doc/Local_Business_Laws/Resolution_No_7_of_1983.pdf" target="_blank">
                                <h2 class="ButtonTitle">Resolution No. 7 of 1983 regarding the investment licenses in the Emirate of Ajman</h2>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </ion-content>
    </ion-view>
</body>
</html>