<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Online Services">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <div class="TAC"><img src="img/icon/renew.png" /></div>
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <p>If you have an account please click here to login</p>
                <div style="height: 1em"></div>
                <div class="MyButton" ui-sref="LicenseRenewal">Login</div>
                <div style="height: 1em"></div>
                <p>If you are new user please click here to create new account</p>
                <div style="height: 1em"></div>
                <div class="MyButton"onclick="window.open('http://sdg.ae/2016/ded/en/newregister.html', '_system', 'location=yes'); return false;"
               >Register</div>
            </div>

        </ion-content>
    </ion-view>
</body>
</html>