<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Licensing Services">
    <ion-content scroll="false" class="content">
        <div class="Wrapper">
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="issuancePermit"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>Assignment of Business Company</h2>
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="cancelBusinessCompany"><img src="img/icon/ourservices/icon_ser21.png" /></div>
                        <h2>Assignment of Company</h2>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <div class="icon" ui-sref="cancelCompany"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>Assignment of Establishments</h2>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <div class="icon"><img src="img/icon/ourservices/icon_ser7.png" /></div>
                        <h2>Assignment of Service Agent</h2>
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <div class="icon"><img src="img/icon/ourservices/icon_cancel.png" /></div>
                        <h2>Cancellation of Business Company</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/comcancel.png" /></div>
                        <h2>Cancellation of Companies</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_estcancel.png" /></div>
                        <h2>Cancellation of Establishments</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_seragntcancel.png" /></div>
                        <h2>Cancellation of Service Agent</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser23.png" /></div>
                        <h2>Issuance of a Business Company License </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser19.png" /></div>
                        <h2>Issuance of A Joint-Liability Company License </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser11.png" /></div>
                        <h2>Issuance of a Limited Liability Company License</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser6.png" /></div>
                        <h2>Issuance of Service Agent License</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser13.png" /></div>
                        <h2>Issuance of license (Foreign company branch)</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser2.png" /></div>
                        <h2>Renewal of A Joint-Liability Company License (Nationals only)</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser5.png" /></div>
                        <h2>Renewal of a Limited Liability Company License</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser5.png" /></div>
                        <h2>Renewal of Service Agent License</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>Request for adding a partner in existing license </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser3.png" /></div>
                        <h2>Request for adding changing an activity in existing valid ninvalid license, applying all types of licenses</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_loc.png" /></div>
                        <h2>Request for changing the activity location</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser20.png" /></div>
                        <h2>Request for Issuing New License</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser2.png" /></div>
                        <h2>Request for Issuing New License for Private Joint Stock Company</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser9.png" /></div>
                        <h2>Request for renewal of business company license</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_rep.png" /></div>
                        <h2>Request for replacement of lost valid license only</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser24.png" /></div>
                        <h2>Request of manager appointment change</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_namechange.png" /></div>
                        <h2>Trade Name Change</h2>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>