<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Special conditions for exercising economic activities">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>


                <div ng-model="expandme">
                    <div ng-click="expandme=!expandme">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> Real estate offices</h3>
                    </div>
                </div>
                <div ng-show="expandme" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Obtaining the approval of Land and Property Department.</li>
                        <li>» &nbsp; Office space of not less than 60 square meters.</li>
                        <li>» &nbsp; Office to be located on the front of (main street or within an offices building).</li>
                    </ul>
                </div>

                <div ng-model="expandme02">
                    <div ng-click="expandme02=!expandme02">
                        <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Real estate development offices</h3>
                    </div>
                </div>
                <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Obtaining the approval of the Real Estate Regulatory Department.</li>
                        <li>» &nbsp; Not less office space from 100 square meters.</li>
                        <li>» &nbsp; Office to be located on the front of main street or within an offices building</li>
                    </ul>
                </div>
                <div ng-model="expandme03">
                    <div ng-click="expandme03=!expandme03">
                        <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Real estate development offices</h3>
                    </div>
                </div>
                <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Obtaining the approval of the Real Estate Regulatory Department.</li>
                        <li>» &nbsp; Not less office space from 100 square meters.</li>

                    </ul>
                </div>

                <div ng-model="expandme04">
                    <div ng-click="expandme04=!expandme04">
                        <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Construction contracting and engineering consultancy offices</h3>
                    </div>
                </div>
                <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Obtaining the approval of Municipality and Planning Department (Engineering Affairs Sector).</li>
                        <li>» &nbsp; Office area not less than 100 square meters.</li>

                    </ul>
                </div>

                <div ng-model="expandme05">
                    <div ng-click="expandme05=!expandme05">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Stores that sell gas cylinders</h3>
                    </div>
                </div>
                <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Get the approval from Civil Defense Department.</li>
                        <li>» &nbsp; Office space of not less than 60 square meters.</li>
                        <li>» &nbsp; The provision of a special warehouse for cylinders or contracting with filling factories and provide copy of the letter from the  factory.</li>
                        <li>» &nbsp; Do exercise filling activity in the shop or the warehouse filling must be in the filling plant site only.</li>
                        <li>» &nbsp; Importing cylinders between emirates is prohibited.</li>
                        <li>» &nbsp; Commitment to the price list published from the Ministry of Economy.</li>
                    </ul>
                </div>

                <div ng-model="expandme06">
                    <div ng-click="expandme06=!expandme06">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  The activities of Garages & car workshops, general maintenance(Dye & plumbing-mechanic repair-vehicle structure repair)</h3>
                    </div>
                </div>
                <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Facilities are to licensed in the industrial areas only.</li>
                        <li>» &nbsp; Shop area of not less than 100 square meters per activity also it entails providing the same space if you add another activity.</li>
                        <li>» &nbsp; Not to exercise activity outside the boundary of the shop.</li>
                        <li>» &nbsp; Provide a fenced area or shed area not less than 300 square meters for the activities of public workshops for car maintenance.</li>
                        <li>» &nbsp; Compliance with activities specified by the   licensing and to refer to the department in the case of the desire to add other activities.</li>
                    </ul>
                </div>

                <div ng-model="expandme07">
                    <div ng-click="expandme07=!expandme07">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Tire trade and repair</h3>
                    </div>
                </div>
                <div ng-show="expandme07" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Facilities are to licensed in the industrial areas only.</li>
                        <li>» &nbsp; Shop area of not less than 100 square meters per activity also it entails providing double the space to carry both activities.</li>
                        <li>» &nbsp; In the case of using a hydraulic crane in the shop the height of the ceiling should be considered.</li>
                        <li>» &nbsp; Not to exercise activity outside the boundary of the shop</li>
                    </ul>
                </div>

                <div ng-model="expandme08">
                    <div ng-click="expandme08=!expandme08">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Trading in new auto spare parts, heavy machines and equipment</h3>
                    </div>
                </div>
                <div ng-show="expandme08" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Activity is allowed to operate in industrial areas only.</li>
                        <li>» &nbsp; Area of not less than 500 square meters or the provision of spare parts warehouse and in the case of contracting with car agencies copy of the contract is a must;</li>
                        <li>» &nbsp; Not to exercise the activity of replace and repair unless a place is provided for the practice of the additional activity and after the approval of the department.</li>
                        <li>» &nbsp; Do not put subjects outside the shop.</li>
                    </ul>
                </div>

                <div ng-model="expandme09">
                    <div ng-click="expandme09=!expandme09">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Conditions for industrial workshops (blacksmithing, welding and aluminum and glass and kitchen activities)</h3>
                    </div>
                </div>
                <div ng-show="expandme09" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Activity is allowed to operate in industrial areas only.</li>
                        <li>» &nbsp; Performing work outside the boundary of the workshop is prevented and not store items outside the boundary of the facility.</li>
                        <li>» &nbsp; For repair of heavy equipment activities the area shall not be less than 500 square meters.</li>
                        <li>» &nbsp; Adhere to issue receipt of delivery to the consumer and a commitment to deliver orders on time and guarantee</li>
                    </ul>
                </div>

                <div ng-model="expandme010">
                    <div ng-click="expandme010=!expandme010">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Car wash station</h3>
                    </div>
                </div>
                <div ng-show="expandme010" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Area of not less than 1,500 square meters.</li>
                        <li>» &nbsp; The provision of engineering scheme approved by an engineering consultancy office.</li>
                        <li>» &nbsp; To separate entry and exit gate for cars.</li>
                        <li>» &nbsp; The provision of parking and not parking in public places.</li>
                    </ul>
                </div>

                <div ng-model="expandme011">
                    <div ng-click="expandme011=!expandme011">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Cars Hand-wash</h3>
                    </div>
                </div>
                <div ng-show="expandme011" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; To be licensed only in industrial areas.</li>
                        <li>» &nbsp; Area of not less than 100 square meters.</li>
                        <li>» &nbsp; Non-existence of more than a car wash shop in the same area.</li>
                        <li>» &nbsp; The provision of parking and not parking in public places</li>
                    </ul>
                </div>

                <div ng-model="expandme012">
                    <div ng-click="expandme012=!expandme012">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Trading in used furniture</h3>
                    </div>
                </div>
                <div ng-show="expandme012" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; To be licensed only in industrial areas.</li>
                        <li>» &nbsp; Area of not less than 100 square meters.</li>
                        <li>» &nbsp; Non-existence of more than a car wash shop in the same area.</li>
                        <li>» &nbsp; The provision of parking and not parking in public places</li>
                    </ul>
                </div>

                <div ng-model="expandme013">
                    <div ng-click="expandme013=!expandme013">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Trading is used Household electrical appliances</h3>
                    </div>
                </div>
                <div ng-show="expandme013" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; To be licensed only in industrial areas.</li>
                        <li>» &nbsp; Area of not less than 80 square meters.</li>
                        <li>» &nbsp; Do not stack outside the boundary of the shop.</li>
                        <li>» &nbsp; Over accumulation of goods in the shop is not allowed.</li>
                        <li>» &nbsp; The need to provide sales and purchase invoice.</li>
                    </ul>
                </div>

                <div ng-model="expandme014">
                    <div ng-click="expandme014=!expandme014">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Shops for(women tailoring and embroidery - women's clothes – gowns “ Abbaya “ )</h3>
                    </div>
                </div>
                <div ng-show="expandme014" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; To be licensed only in industrial areas.</li>
                        <li>» &nbsp; Area of not less than 80 square meters.</li>
                        <li>» &nbsp; Do not stack outside the boundary of the shop.</li>
                        <li>» &nbsp; Over accumulation of goods in the shop is not allowed.</li>
                        <li>» &nbsp; The need to provide sales and purchase invoice.</li>
                    </ul>
                </div>

                <div ng-model="expandme015">
                    <div ng-click="expandme015=!expandme015">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Photography Studio </h3>
                    </div>
                </div>
                <div ng-show="expandme015" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Provide female employees when dealing with families and women.</li>
                        <li>» &nbsp; Shop area of not less than 50 square meters.</li>
                        <li>» &nbsp; Locate shop on the ground floor and apartments are not allowed.</li>

                    </ul>
                </div>

                <div ng-model="expandme016">
                    <div ng-click="expandme016=!expandme016">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Women's salons </h3>
                    </div>
                </div>
                <div ng-show="expandme016" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Allowed to operate in the ground floors and in all the shops in malls and villas in commercial areas.</li>
                        <li>» &nbsp; Area of not less than 50 square meters.</li>
                        <li>» &nbsp; Install prices list for services in a prominent place and no change is allowed before obtaining approval from the department.</li>
                        <li>» &nbsp; Massage business require obtaining license</li>
                    </ul>
                </div>

                <div ng-model="expandme017">
                    <div ng-click="expandme017=!expandme017">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Men's salons</h3>
                    </div>
                </div>
                <div ng-show="expandme017" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Allowed to operate in the ground floors and in all the shops in malls and villas in commercial areas.</li>
                        <li>» &nbsp; Area of not less than 30 square meters.</li>
                        <li>» &nbsp; Install prices list for services in a prominent place and no change is allowed before obtaining approval from the department.</li>

                    </ul>
                </div>

                <div ng-model="expandme018">
                    <div ng-click="expandme018=!expandme018">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Men's and women's fitness clubs</h3>
                    </div>
                </div>
                <div ng-show="expandme018" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Shop space not less than 300 square meters.</li>
                        <li>» &nbsp; Allowed to operate in the ground floors and in all the shops in malls and villas in commercial areas.</li>
                        <li>» &nbsp; Provide dressing rooms and the wardrobes.</li>
                        <li>» &nbsp; Must obtain a permit from the department in the event of using sale automated machines (tea - coffee) or any other products.</li>
                        <li>» &nbsp; Adding healthy food activity is not allowed</li>

                    </ul>
                </div>

                <div ng-model="expandme019">
                    <div ng-click="expandme019=!expandme019">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Internet cafes</h3>
                    </div>
                </div>
                <div ng-show="expandme019" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Allowed only on main streets on the ground floor and in all business areas.</li>
                        <li>» &nbsp; Shop area of not less than 50 square meters.</li>
                        <li>» &nbsp; Closed cabins prohibited.</li>
                        <li>» &nbsp; Shading front facade of the shop not allowed.</li>


                    </ul>
                </div>

                <div ng-model="expandme020">
                    <div ng-click="expandme020=!expandme020">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Massage and relaxation centers for women</h3>
                    </div>
                </div>
                <div ng-show="expandme020" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Maintaining the morals and ethics.</li>
                        <li>» &nbsp; Wearing (uniform) for workers.</li>
                        <li>» &nbsp; Men are not allowed to be present or to massage women.</li>
                        <li>» &nbsp; Working hours from 6 am to 12 pm at night unless there is permission to work extra hours.</li>
                        <li>» &nbsp; Massage rooms without locks and a  transparent piece of glass to be fixed upper side the door.</li>
                        <li>» &nbsp; Not to fix cameras with a commitment to maintain the confidentiality and privacy of customers.</li>
                        <li>» &nbsp; Area of the shop of not less than 100 square meters.</li>
                        <li>» &nbsp; Massage room area not less than 6 square meters.</li>
                    </ul>
                </div>

                <div ng-model="expandme021">
                    <div ng-click="expandme021=!expandme021">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  Massage and relaxation centers for men</h3>
                    </div>
                </div>
                <div ng-show="expandme021" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Maintaining the morals and ethics.</li>
                        <li>» &nbsp; Wearing suitable(uniform) for workers.</li>
                        <li>» &nbsp; Women are not allowed to be present or to massage men.</li>
                        <li>» &nbsp; Working hours from 6 am to 12 pm at night unless there is permission to work extra hours.</li>
                        <li>» &nbsp; Massage rooms without locks and a  transparent piece of glass to be fixed upper side the door.</li>
                        <li>» &nbsp; Not to fix cameras with a commitment to maintain the confidentiality and privacy of customers.</li>
                        <li>» &nbsp; Area of the shop of not less than 100 square meters.</li>
                        <li>» &nbsp; Massage room area not less than 6 square meters.</li>

                    </ul>
                </div>

                <div ng-model="expandme022">
                    <div ng-click="expandme022=!expandme022">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> Café offering shisha</h3>
                    </div>
                </div>
                <div ng-show="expandme022" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Working hours from 6 am to 12 pm at night unless there is permission to work extra hours.</li>
                        <li>» &nbsp; Shading facades not allowed, which would block the vision and lighting which impedes the regulatory agencies from remote follow-up to fix a transparent glass on front side of the shop.</li>
                        <li>» &nbsp; Closed rooms or cabins not allowed rooms.</li>
                        <li>» &nbsp; Do not use audio amplifiers or devices or any means of a nature to cause inconvenience and noise.</li>
                        <li>» &nbsp; Not to exploit events and charge extra for customers.</li>

                    </ul>
                </div>

                <div ng-model="expandme023">
                    <div ng-click="expandme023=!expandme023">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> e-gym</h3>
                    </div>
                </div>
                <div ng-show="expandme023" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; Working hours from 6 am to 12 pm at night unless there is permission to work extra hours.</li>
                        <li>» &nbsp; Shading facades not allowed, which would block the vision and lighting which impedes the regulatory agencies from remote follow-up to fix a transparent glass on front side of the shop.</li>
                        <li>» &nbsp; Not to run luck games (gambling) or obscene or offensive games.</li>
                        <li>» &nbsp; Closed rooms or cabins not allowed rooms.</li>
                        <li>» &nbsp; Children under 10 not allowed unless they have reasonable facilities.</li>

                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>