<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="Business Guide">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>Conditions for commercial signboards and types</h1>
                
                <ul class="VerticalList01 Listdisc">
                    <li>Applications for signboards submitted through (calligraphers) registered in the emirate only.</li>
                    <li>Commitment to the form allocated to the boards, record all data and sizes and dimensions of the board with the need to develop a sketch for the board.</li>
                    <li>Taking into account the consistency of the board with neighboring shops in the same building and neighboring buildings in terms of space and lengths and visibility in order to preserve the aesthetic view of the emirate.</li>
                    <li>The total area of the board not to exceed the total area of the interface for the shop.</li>
                    <li>The board shall not overlap the shop area.</li>
                    <li>Writing in a correct Arabic language avoiding spelling and grammar errors.</li>
                    <li>Using Arabic language is compulsory in signboards by at least 50%, taking into account that it is to be on the right side of the board.</li>
                    <li>Commitment to the trade name contained in the economic license.</li>
                    <li>Not to fix the signboard before obtaining approval from the department.</li>
                    <li>Signboards shall taking into account the public morals and Islamic rules.</li>
                    <li>Highlighting the approval of the agent for the brand name in the case of advertising in the signboard.</li>
                    <li>Undertaking by the company executing the trade name signboard to abide by all the mandatory requirements otherwise shall be accountable for violations.</li>
                    <li>The Department has the right to remove the signboard through a specialized company at the expense of the owner in the case of non-compliance with the specifications adopted after 15 days warning notice.</li>
                    <li>When changing the location of the board a new permit is required and old board to be removed.</li>
                    <li>When changing the trade name you must apply for a new permit with the need to remove the old board not overwrite on the same.</li>
                    <li>In the case of cancellation of the license the owner of the facility must remove the board and the shadings on the shop facade.</li>
                    <li>If you do not wish to renew the permit you have to remove the board and inform the department.</li>
                    <li>Signboards on glass facade for the stores shall not exceed 50% of the interface area, taking into account the clarity of vision.</li>

                </ul>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>