<ion-view view-title="نبذة عن الدائرة" dir="rtl">
    <ion-content scroll="false" class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3 class="InnerTitle">حول الدائرة الإقتصادية</h3>
            <p>
                تأسست الدائرة الإقتصادية لغرض تعزيز التنمية الإقتصادية المستدامة لإمارة عجمان بمشاركة مواطني الإمارات
                العربية المتحدة.
            </p>
            <h3 class="InnerTitle">معلومات عامة</h3>
            <p>
                يؤمن رئيس دائرة التنمية الاقتصادية أنه من الضروري الآن إعادة تفعيل دائرة التنمية الاقتصادية إلى هيئة
                حكومية فاعلة تماما مع الأدوار والمسؤوليات المحددة تجاه المستقبل الاقتصادي لإمارة عجمان.
            </p>

            <h3 class="InnerTitle">رؤيتنا</h3>

            <p>
                اقتصادُ مزدهر ورفاه ينعم به الأجيال.
            </p>

            <h3 class="InnerTitle">رسالتنا</h3>

            <p>
                تحقيق التنمية الاقتصادية المستدامة من خلال التخطيط وإعداد التشريعات والتنظيم والتنسيق والرقابة والترويج
                للأنشطة الاقتصادية وتنويعها عن طريق اعداد السياسات الاقتصادية لرفع الانتاجية وتهيئة بيئة جاذبة
                للاستثمار.
            </p>

            <h3 class="InnerTitle">القيم</h3>

            <table style="width: 95%;margin: 1em">
                <tr>
                    <td style="width: 50%">القيادة والعمل الجماعي</td>
                    <td>الالتزام والنتائج</td>
                </tr>
                <tr>
                    <td>خدمة المتعاملين</td>
                    <td>التعاون والشراكات</td>
                </tr>
                <tr>
                    <td>الشفافية والانفتاح</td>
                    <td>الابتكار والابداع</td>
                </tr>
            </table>

        </div>
    </ion-content>
</ion-view>