<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="دليل الأنشطة">
    <ion-content class="content">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <h3 class="InnerTitle">دليل ممارسة الانشطة الاقتصادية بدائرة التنمية الاقتصادية بعجمان</h3>
            <h4>إدارة الرقابة وحماية المستهلك</h4>


            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="AwarenessMessage"><img src="img/icon/ourservices/icon_ser17.png"/>
                        </div>
                        <h2>رسالة توعوية للمستثمرين</h2>
                        <hr />
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="GeneralRequirements"><img src="img/icon/ourservices/icon_ser5.png"/>
                        </div>
                        <h2>الاشتراطات العامة لمزاولة الانشطة الاقتصادية</h2>
                        <hr />
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <div class="icon" ui-sref="SpecialRequirements"><img src="img/icon/ourservices/icon_ser4.png"/>
                        </div>
                        <h2>الاشتراطات الخاصة لمزاولة الانشطة الاقتصادية </h2>
                        <hr />
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <div class="icon" ui-sref="SpecialRequirements-Signboard"><img
                                src="img/icon/ourservices/icon_ser21.png"/></div>
                        <h2>الاشتراطات الخاصة بلوحات الاسماء التجارية</h2>
                        <hr />
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <div class="icon" ui-sref="List-Of-Violation"><img src="img/icon/ourservices/icon_cancel.png"/>
                        </div>
                        <h2>قوائم المخالفات الخاصة بدائرة التنمية الاقتصادية</h2>
                        <hr />
                    </li>
                    <li class="animated05 fadeInRightBig">
                        <div class="icon" ui-sref="Federal-And-Local-Laws"><img
                                src="img/icon/ourservices/icon_ser23.png"/></div>
                        <h2>القوانين الاتحادية والمحلية المنظمة لممارسة الاعمال الاقتصادية</h2>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>