<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="التقارير الاقتصادية السنوية">
    <ion-content class="content">
        <div class="Page-Inner-Padding-Top"></div>
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>

            <h4 class="animated fadeInRightBig">تقارير اقتصادية و إحصائية شاملة لإمارة عجمان</h4>
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2" ng-include="GetAnnualReport()">
                
            </div>
            </div>
</ion-content>
</ion-view>