<div>
    <ul>
        <li class="animated01 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/ar/2014AnnualReportAR.pdf', '_system', 'location=yes'); return false;">
                <h2 class="ButtonTitle">
                    التقرير الاقتصادي السنوي 2014
                </h2>
            </a>
        </li>
        <li class="animated02 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/ar/2013_ADED_Annual_Report_AR.pdf', '_system', 'location=yes'); return false;">
                <h2 class="ButtonTitle">
                    التقرير الاقتصادي السنوي 2013
                </h2>
            </a>
        </li>
        <li class="animated03 fadeInRightBig">
            <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/ar/2012_ADED_Annual_Report_AR.pdf', '_system', 'location=yes'); return false;">
                <h2 class="ButtonTitle">
                التقرير الاقتصادي السنوي 2012
                </h2>
            </a>
        </li>
    </ul>
    
</div>