<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="التقارير الاقتصادية السنوية">
    <ion-content class="content">
        <div class="Page-Inner-Padding-Top"></div>
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>

            <h4 class="animated fadeInRightBig">تقارير اقتصادية و إحصائية شاملة لإمارة عجمان</h4>
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated01 fadeInRightBig">
                        <a href="http://www.ajmanded.ae/ar/Doc/ar/2014AnnualReportAR.pdf" target="_blank">
                            <h2 class="ButtonTitle">
                                التقرير الاقتصادي السنوي 2014
                                </h2>
                        </a>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <a href="http://www.ajmanded.ae/ar/Doc/ar/2013_ADED_Annual_Report_AR.pdf" target="_blank">
                            <h2 class="ButtonTitle">
                                التقرير الاقتصادي السنوي 2013
                            </h2>
                        </a>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <a href="http://www.ajmanded.ae/ar/Doc/ar/2012_ADED_Annual_Report_AR.pdf" target="_blank">
                            <h2 class="ButtonTitle">
                                التقرير الاقتصادي السنوي 2012
                            </h2>
                        </a>
                    </li>
                </ul>
                
            </div>
            </div>
</ion-content>
</ion-view>