<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="دليل الأنشطة" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>رسالة توعوية للمستثمرين</h1>
                <p>
                    تعتبر القوانين المنظمه لممارسة الاعمال من اهم عوامل جذب الاستثمار في الاماره مما يحقق النمو الاقتصادي وتسعي دائرة التنمية الاقتصادية الي تحقيق اعلي مستويات الرضا للجمهور وذلك عن طريق تطبيق افضل الممارسات والتي من خلالها نظمت الدولة الكثير من القوانين الاتحادية والمحلية لتنظيم ممارسة الاعمال وتحقيق اعلي مستوي من الرضا عن الخدمات المقدمه
                </p>
                <p>
                    نأمل ان يتضمن محتوي هذا الدليل علي كل ما يحتاجه المستثمرون للبدء في ممارسة الانشطة الاقتصادية وفق القوانين المنظمة له
                </p>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>