<ion-view view-title="اجراءات تأسيس فروع الشركات من امارة اخرى" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <h3>وصف الخدمة  :</h3>
            <p>
                الحصول على ترخيص بإنشاء فروع الشركات من امارة اخرى
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                شركات / مؤسسات
            </p>



            <div ng-model="expandmeGeneral">
                <div ng-click="expandmeGeneral=!expandmeGeneral">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> المستندات المطلوبة للرخص الجديدة بصورة عامة</h3>
                </div>
            </div>
            <div ng-show="expandmeGeneral" class="fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>

                <table>
                    <tr><td style="width: 10px">1</td><td>نسخة عن بطاقة الهوية و خلاصة قيد المواطن</td></tr>
                    <tr><td>2</td><td>نسخة عن جواز سفر اصحاب الترخيص</td></tr>
                    <tr><td>3</td><td>تعبئة استمارة التسجيل و الترخيص التجاري ، تتوفر في الموقع الالكتروني للدائرة و في مراكز الخدمة</td></tr>
                    <tr><td>4</td><td>نسخة عن صفحة الاقامة او تاشيرة الزيارة لغير مواطني دول مجلس التعاون الخليجي</td></tr>
                    <tr><td>5</td><td>كتاب من دائرة المحاكم بعدم الممانعة من ممارسة التجارة لمن هم دون 21 سنة</td></tr>
                    <tr><td>6</td><td>موافقة الجهات الحكومية الاخرى على النشاط في حال تطلب الامر ذلك</td></tr>
                </table>

                <div class="Page-Inner-Padding-Top"></div>
                <h4>ملاحظة : بعد الحصول على الموافقة المبدئية و حجز الاسم التجاري : ايصال الموافقة المبدئية و جميع المستندات المقدمة سابقا يجب توفير المستندات التالية:-</h4>
                <div class="Page-Inner-Padding-Top"></div>

                <table>
                    <tr><td style="width: 10px">7</td><td>نسخة من شهادة توثيق عقد الايجار الصادرة من دائرة البلدية و التخطيط</td></tr>
                    <tr><td>8</td><td>عقد التاسيس مصدقا حسب الاصول للشركات بانواعها</td></tr>
                    <tr><td>9</td><td>عقد تعيين وكيل الخدمات مصدقا حسب الاصول للمؤسسات المهنية و الشركات المدنية المملوكة للمقيمين من غير مواطني دول مجلس التعاون الخليجي 100% و التي تتضمن وكيل خدمات محلي من دولة الامارات العربية المتحدة</td></tr>
                    <tr><td>10</td><td>اي موافقات خارجية اخرى يتطلبها النشاط المراد مزاولتة</td></tr>
                </table>
            </div>

            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">


                    <table>
                        <tr><td style="width: 10px">»</td><td>نسخة عن ترخيص الشركة الام سارية المفعول</td></tr>
                        <tr><td>»</td><td> نسخة عن بطاقة الهوية سارية المفعول لكل أصحاب العلاقة ما عدا الزائر والخليجي</td></tr>
                        <tr><td>»</td><td>نسخة عن جواز سفر لأاصحاب الترخيص ساري المفعول و الجواز الاصلي للخليجي</td></tr>
                        <tr><td>»</td><td>نسخة من شهادة توثيق عقد الإيجار ساري المفعول أو صورة من ملكية العقار</td></tr>
                        <tr><td>»</td><td>آلا يقل عمر المالك عن 21 سنة ميلادية ( أو قرار من المحكمة بجواز ممارسة العمل التجاري لأقل من 21 سنة</td></tr>
                        <tr><td>»</td><td>قرار مجلس الادارة بفتح فرع و تعيين مدير</td></tr>
                        <tr><td>»</td><td>نسخة عن السجل التجاري ( لفروع الامارات الاخرى )</td></tr>
                        <tr><td>»</td><td> نسخة من عقد إيجار أو ملكية المبنى</td></tr>
                        <tr><td>»</td><td>نسخة من عقد التأسيس للشركة الأم</td></tr>
                    </table>

            </div>


            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                    <table>
                        <tr><td style="width: 10px">1</td><td>تعبئة نموذج طلب الترخيص</td></tr>
                        <tr><td>2</td><td>إرفاق المستندات المطلوبة</td></tr>
                        <tr><td>3</td><td>الحصول على الموافقة من إدارة الرقابة والتفتيش</td></tr>
                        <tr><td>4</td><td>حجز إسم تجاري</td></tr>
                        <tr><td>5</td><td>توفير الموافقات الخارجية</td></tr>
                        <tr><td>6</td><td>مراجعة كاونتر الاستشارات بمركز الخدمة واعتماده صحة البيانات</td></tr>
                        <tr><td>7</td><td>دفع الرسوم</td></tr>
                        <tr><td>8</td><td>استلام الترخيص</td></tr>
                    </table>

            </div>





            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> الموافقات والاعتمادات المطلوبة من جهات خارجية</h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">

                    <table>
                        <tr><td style="width: 10px">»</td><td>موافقة وزارة الاقتصاد</td></tr>
                        <tr><td>»</td><td>موافقة الجهات الحكومية الاخرى على النشاط في حال تطلب الامر ذلك</td></tr>
                        <tr><td>»</td><td>اي موافقات خارجية اخرى يتطلبها النشاط المراد مزاولتة</td></tr>
                    </table>

                <h4>النماذج المتعلقة بطلب الخدمة</h4>
                <p>طلب ترخيص  EA-1-1-F1</p>
                <h4>القسم المعني بتقديم الخدمة</h4>
                <p>قسم التراخيص الاقتصادية</p>

            </div>


        </div>
        </ion-content>
    </ion-view>