<ion-view view-title="اجراءات تجديد تراخيص فروع الشركات من امارة اخرى" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3>وصف الخدمة  :</h3>
            <p>
                تجديد تراخيص فروع الشركات من امارة اخرى
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                شركات / مؤسسات
            </p>



            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                    <table>
                        <tr><td style="width: 10px">»</td><td>نسخة عن ترخيص الشركة الام سارية المفعول.</td></tr>
                        <tr><td>»</td><td>نسخة عن بطاقة الهوية  لكل أصحاب العلاقة ما عدا الزائر والخليجي</td></tr>
                        <tr><td>»</td><td>نسخة عن جواز سفر لأاصحاب الترخيص ساري المفعول</td></tr>
                        <tr><td>»</td><td>نسخة من شهادة توثيق عقد الإيجار ساري المفعول أو صورة من ملكية العقار  في حالة كون العقار بأسم صاحب الترخيص</td></tr>
                        <tr><td>»</td><td>نسخة من عقد إيجار أو ملكية المستودعات إن وجدت</td></tr>
                    </table>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                    <table>
                        <tr><td style="width: 10px">1</td><td>تعبئة نموذج طلب الترخيص</td></tr>
                        <tr><td>2</td><td>إرفاق المستندات المطلوبة</td></tr>
                        <tr><td>3</td><td>الحصول على الموافقة من إدارة الرقابة والتفتيش</td></tr>
                        <tr><td>4</td><td>توفير الموافقات الخارجية</td></tr>
                        <tr><td>5</td><td>مراجعة كاونتر الاستشارات بمركز الخدمة واعتماده صحة البيانات</td></tr>
                        <tr><td>6</td><td>دفع الرسوم</td></tr>
                        <tr><td>7</td><td>استلام الترخيص</td></tr>
                    </table>
            </div>


            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> الموافقات والاعتمادات المطلوبة من جهات خارجية</h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">
                    <table>
                        <tr><td style="width: 10px">»</td><td>موافقة الجهات الحكومية الاخرى على التجديد وفقاً لما هو وارد بسجل الموافقات الخارجية وبحسب النشاط</td></tr>
                       
                    </table>

                <h4>النماذج المتعلقة بطلب الخدمة</h4>
                <p>طلب ترخيص  EA-1-1-F1</p>
                <h4>القسم المعني بتقديم الخدمة</h4>
                <p>قسم التراخيص الاقتصادية</p>

            </div>

        </div>
        </ion-content>
    </ion-view>