<ion-view view-title="اجراءات الغاء ترخيص الشركات" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3>وصف الخدمة  :</h3>
            <p>
                هو اجراء قانوني وادراري يقوم به صاحب / أصحاب الترخيص  (المنشأة  او من في حكمهم ) بقصد الغاء الترخيص الخاص بالمنشأة  (النشاط  المعني) نهائيا.
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                موظف / متعامل أفراد / متعامل شركات/ مؤسسات
            </p>



            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>تعبئة الطلب</li>
                    <li>الترخيص الاصلي او صورة عنه في حالة فقدانه</li>
                    <li>الأوراق الثبوتية لاصحاب الترخيص</li>

                </ul>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <ul class="Listdecimal">
                    <li>مراجعة كاتب العدل</li>
                    <li>مراجعة قسم التفتيش والمعاينات</li>
                    <li>تحصيل الرسوم</li>
                    <li>مراجعة الدوائر الحكوميه الاخرى (غرقة التجارة+العمل والعمال+ادراة الحنسية)</li>
                    <li>مراجعة كاتب العدل للنشر وبعد الحصول على الرد النهائي من كاتب العدل بتم طباعة شهادة الالغاء وتسليمها للعميل</li>

                </ul>

            </div>


            <h4>النماذج المتعلقة بطلب الخدمة</h4>
            <p>طلب الغاء ترخيص    EA-5-1-F4</p>
            <h4>القسم المعني بتقديم الخدمة</h4>
            <p>قسم التنازل والالغاء</p>


        </div>
        </ion-content>
    </ion-view>