<ion-view view-title="إلغاء الرخصة" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h2 class="Inner">إلغاء تراخيص المؤسسات</h2>
            <h3>وصف الخدمة  :</h3>
            <p>
                هو اجراء قانوني وادراري يقوم به أصحاب الترخيص  (المؤسسة  او من في حكمهم ) بقصد الغاء الترخيص الخاص بالمؤسسة نهائيا.
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                موظف / متعامل أفراد / متعامل شركات/ مؤسسات
            </p>



            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>تعبئة الطلب</li>
                    <li>الترخيص الاصلي او صورة عنه في حالة فقدانه</li>
                    <li>الأوراق الثبوتية لاصحاب الترخيص</li>

                </ul>
            </div>



            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>
                        تقديم الطلب للاعتماد بحضور اصحاب الشأن
                    </li>
                    <li>
                        مراجعة قسم التفتيش والمعاينات
                    </li>
                    <li>
                        تحصيل الرسوم
                    </li>
                    <li>
                        مراجعة الدوائر الحكوميه الاخرى(غرفة التجارة+العمل والعمال)
                    </li>
                    <li>
                        النشر في الجريدة وبعد مرور 15 يوما من نشر الاعلان يتم طباعة شهادة الالغاء وتسلميها للعميل
                    </li>
                </ul>

            </div>


            <h4>النماذج المتعلقة بطلب الخدمة</h4>
            <p>طلب الغاء ترخيص    EA-5-1-F4</p>
            <h4>القسم المعني بتقديم الخدمة</h4>
            <p>قسم التنازل والالغاء</p>


        </div>
        </ion-content>
    </ion-view>