<ion-view dir="rtl" view-title="إلغاء الرخصة" hide-nav-bar="true">
    <ion-content class="content">
        <div class="Page-Inner-Padding-Top"></div>
        <ul>
            <li class="animated fadeInRightBig">
                <h2 class="ButtonTitle" ui-sref="Cancel-companies-licenses">إلغاء تراخيص الشركات</h2>
            </li>
            <li class="animated01 fadeInRightBig">
                <h2 class="ButtonTitle" ui-sref="Cancel-enterprise-licenses">إلغاء تراخيص المؤسسات</h2>
            </li>
            <li class="animated02 fadeInRightBig">
                <h2 class="ButtonTitle" ui-sref="Cancel-businesses-licenses">إالغاء تراخيص شركات الأعمال</h2>
            </li>
            <li class="animated03 fadeInRightBig">
                <h2 class="ButtonTitle" ui-sref="Cancel-branches-of-institutions">إلغاء فروع المؤسسات</h2>
            </li>
        </ul>
    </ion-content>
</ion-view>