<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="كلمة رئيس الدائرة">
    <ion-content scroll="false" class="content">
        <div class="animated03 fadeInRightBig">
            <br />
            <div class="TAC">
                <img src="img/ceo.png" style="width: 75%;" />
            </div>

            <h2 class="Inner">السلام عليكم ورحمة الله وبركاته ،،، </h2>
            <p>
                صدر المرسوم الأميري رقم (1) لسنة 2011 بتاريخ 6/1/2011 بشأن إعادة تنظيم الدائرة الاقتصادية في إمارة عجمان ، للقيام بدورها في تحقيق التنمية الاقتصادية الشاملة والمستدامة في الإمارة . حيث تملك إمارة عجمان المميزات التي تؤهلها لتكون على خارطة أكثر المناطق جذباً للاستثمار محلياً وإقليمياً. وللقيام بمهامها ، تضع الدائرة نصب عينها التكامل مع بقية المؤسسات الحكومية المؤثرة في العملية الاستثمارية ، لذا فقد شرعت في التكاتف مع هذه المؤسسات والاستفادة من الجهود المبذولة ووضع الاستراتيجيات والخطط الاقتصادية لتوفير البنية التحتية والتشريعية الداعمة للأعمال وتسهيل الإجراءات على المستثمرين وتنظيم وتطوير أداء القطاعات الاقتصادية المختلفة في الإمارة والتي تساهم في جذب الاستثمارات المحلية والخارجية للإمارة . ومن خلال هذه البوابة الالكترونية نأمل أن يتعرف العملاء والمستثمرون على خدمات الدائرة وعلى مميزات الإمارة المساندة للاستثمار ونتطلع أيضاً إلى توفير الخدمات الالكترونية تحقيقاً لأهدافنا المتمثلة في التسهيل على العملاء وتهيئة المناخ المناسب
            </p>

        </div>
    </ion-content>
</ion-view>