<ion-view dir="rtl" view-title="التصاريح التجاريه">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">

            <div class="TAC">
                <img src="img/icon/ourservices/icon_ser18.png" style="width: 20%;" />
            </div>
            <p>
                التصريح هو مستند رسمي يصدر عن دائرة التنمية الاقتصادية – عجمان ويشترط وجود ترخيص فعال في إمارة عجمان، وتكون طبيعة الشأن المصرح له في التصريح متجانسة مع نشاط الرخصة. حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية -عجمان.
            </p>
            <p>
                للمزيد من المعلومات اضغط هنا او الاتصال على 80055
            </p>

        </div>
    </ion-content>
</ion-view>