<head>
    <meta charset="utf-8">
    <style>
        ion-content div.scroll {
            height: 90% !important;
            overflow:auto;
			-webkit-overflow-scrolling:touch
        }

        .webPage {
            width: 100%;
            height: 100%;
            padding: 1rem;
        }

        .pane, .view {
            background-color: rgba(255,255,255,0);
        }
    </style>
</head>
<ion-view dir="rtl" view-title="شكاوي">
    <ion-content class='padding has-subheader'>
        <iframe class="webPage" src="http://sdg.ae/2016/ded/ar/complaints.html"></iframe>
    </ion-content>
</ion-view>