<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="اتصل بنا">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>


            <h3 class="InnerTitle">الوصول إلينا</h3>
            <h4>الراشدية [المقر الرئيسى]</h4>
            <p>
                الأحد – الخميس من 7:30 صباحاً الي 2:30 مساءاً
            </p>
            <h4>مركز الحميدية</h4>
            <p>
                الأحد – الخميس من 7:30 صباحاً الي 5:00 مساءاً
            </p>
            <h4>مركز مصفوت</h4>
            <p>
                الأحد – الخميس من 7:30 صباحاً الي 2:30 ظهراً
            </p>
            <h4>مركز المنامة</h4>
            <p>
                الأحد – الخميس من 7:30 صباحاً الي 2:30 ظهراً
            </p>
            <!--START-->
            <div class="MapsTapsWrapper">
                <ion-tabs class="tabs-light tabs-icon-top tabs-top">
                    <ion-tab title="الراشدية" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <img src="img/maps/map_main.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="مركز الحميدية" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <img src="img/maps/map_hamedia.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="مركز مصفوت" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <img src="img/maps/map_masfout.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                    <ion-tab title="مركز المنامة" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
                        <ion-pane>
                            <ion-content onscroll="false">
                                <div class="TAC">
                                    <img src="img/maps/map_manama.jpg" />
                                </div>
                            </ion-content>
                        </ion-pane>
                    </ion-tab>
                </ion-tabs>
            </div>
            <!--END-->

            <br />
            <h3 class="InnerTitle">معلومات الاتصال</h3>
            <h4>دائرة التنمية الاقتصادية  - عجمان</h4>
            <table>
                <tr>
                    <td style="width: 27%;">ص ب</td>
                    <td>870
                        عجمان
                    </td>
                </tr>
                <tr>
                    <td>هاتف</td>
                    <td style="text-align: right">
                        <span dir="ltr">800 70</span>
                    </td>
                </tr>
                <tr>
                    <td> البريد الإلكتروني</td>
                    <td>info@ajmanded.ae</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>