<ion-view view-title="إصدار رخصة" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="IndividualInstitution">المؤسسة الفردية</h2>
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Company-with-limited-liability">الشركة ذات مسؤولية محدودة</h2>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Corporate-solidarity">الشركات التضامنية</h2>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Private-joint-StockCompanies">شركات المساهمة الخاصة </h2>
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Public-joint-StockCompanies">شركات المساهمة العامة </h2>
                    </li>
                    <li class="animated05 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Civil-Works-Companies">شركات الاعمال المدنية ووكيل خدمات</h2>
                    </li>
                    <li class="animated06 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-Gulf-Companies">فروع الشركات الخليجية</h2>
                    </li>
                    <li class="animated07 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-foreign-Companies">فروع الشركات الأجنبية</h2>
                    </li>
                    <li class="animated08 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-companies-from-Another-Emirate">فروع الشركات من امارة اخرى </h2>
                    </li>
                    <li class="animated09 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="The-establishment-of-institutions-branch-actions">إجراءات تأسيس فروع المؤسسات</h2>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>

</ion-view>