<ion-view view-title="دليل المستهلك">
    <ion-content scroll="false" class="content" dir="rtl">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>

            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  رسالة توعوية للمستهلك</h3>
                </div>
            </div>
            <div ng-show="expandme" class="animated01010 fadeInRightBig">
                <p>
                    عزيزي المستهلك،
                </p>
                <p>
                    يعد القانون الاتحادي لحماية المستهلك رقم 24 لعام 2006 ولائحته التنفيذية هو المرجع القانوني لحمايتك. إن معرفتك لحقوقك وواجباتك وإلمامك بها يساعدنا على الحد من الظواهر السلبية التي تنتهك حقوقك. هدفنا هو توعيتك لتتجنب الكثير من أوجه الاستغلال غير القانونية ونلخص لك في هذا المحتوى العديد من النصائح.
                </p>
            </div>
            <div ng-model="expandme02">
                <div ng-click="expandme02=!expandme02">
                    <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  حقوق المستهلك</h3>
                </div>
            </div>
            <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                <ul class="Listdisc">
                    <li>الحق في حمايته من المنتجات والخدمات التي تشكل ضرراً على الصحة والسلامة.</li>
                    <li>الحق في تزويده بالحقائق التي تساعده على الشراء والاستهلاك السليم.</li>
                    <li>الحق في الاختيار بين العديد من البدائل من السلع والخدمات بأسعار تنافسية مع ضمان الجودة.</li>
                    <li>الحق في الاستماع إلى آرائه.</li>
                    <li>الحق في إشباع احتياجاته الأساسية من السلع والخدمات الضرورية الأساسية.</li>
                    <li>الحق في تعويضه عن السلع الرديئة أو الخدمة غير المرضية أو أية ممارسات تضر به.</li>
                    <li>الحق في تثقيفه وفي إكسابه المعارف والمهارات المطلوبة لممارسة الاختبارات الواعية بين السلع والخدمات، وأن يكون مدركاً لحقوقه الأساسية ومسؤولياته وكيفية استخدامها من خلال برامج التوعية المستدامة.</li>
                    <li>حق الحياة في بيئة سليمة.</li>
                </ul>


            </div>

            <div ng-model="expandme03">
                <div ng-click="expandme03=!expandme03">
                    <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستهلك الذكي</h3>
                </div>
            </div>
            <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                <p>يتأكد من مصدر البضاعة دائماً، فشراء الحاجيات مجهولة المصدر عادة ما تكون قديمة أو منتهية الصلاحية أو مجددة كالهواتف والأجهزة الالكترونية الأخرى.</p>
                <p>يتبع إرشادات استعمال المنتج كما هو موضح على المنتج.</p>
                <p>يتأكد من تاريخ الإنتاج والانتهاء للمنتجات.</p>
                <p>يقارن الأسعار دائماً بين المحلات قبل الشراء للحصول على أفضل سعر وأفضل خدمة مع مراعاة التركيز على جودة المنتج.</p>
                <p>يحتفظ بفاتورة الشراء.</p>
                <p>يحتفظ بنسخة من كتيب ضمان المنتج لإثبات حق المطالبة بإرجاعها أو استبدالها وفق سياسة الاسترجاع والاستبدال.</p>
                <p>ساعدنا في القضاء على الظواهر السلبية مثل الباعة المتجولين والمركبات التي لا يعرف مصدر بضاعتها بتقديم طلب شكوى للدائرة عبر قنوات التواصل.</p>
                <p>ساعدنا في القضاء على الإعلانات الترويجية المضللة والتي توضع نشراتها عادة في واجهات المنازل وعلى السيارات.</p>
            </div>


            <div ng-model="expandme04">
                <div ng-click="expandme04=!expandme04">
                    <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  سياسة الاسترجاع والاستبدال</h3>
                </div>
            </div>
            <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                <p>عزيزي المستهلك عبارة(البضاعة المباعة لا ترد ولا تستبدل) تعد مخالفة للقانون لأنه يجب على المزود إرجاع البضاعة أو استبدالها في الحالات التالية:</p>
                <ul class="Listdisc">
                    <li>اكتشاف عيب في السلعة.</li>
                    <li>عدم مطابقة السلعة للمواصفات التي طلبها المستهلك.</li>
                    <li>صدور مذكرة من الجهات المعنية باسترداد السلعة.</li>
                    <li>كثرة شكاوى المستهلكين على السلعة.</li>
                </ul>

                <p>وننصحك بالتالي لضمان إرجاع سلعتك أو استبدالها:</p>
                <ul class="Listdisc">
                    <li>توفير فاتورة الشراء عند تقديم الشكوى.</li>
                    <li>توفير ضمان المنتج.</li>
                    <li>يتعين على المستهلك إبلاغ المزود بعيب السلعة خلال مدة محددة من قبل المزود على ألا تقل عن 14 يوم.</li>
                    <li>يجب أن تكون السلعة بنفس حالتها عند الشراء لضمان إرجاعها.</li>
                </ul>

            </div>


            <div ng-model="expandme05">
                <div ng-click="expandme05=!expandme05">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  نصائح رمضانية</h3>
                </div>
            </div>
            <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                <ul class="Listdisc">
                    <li>لا تسرف في شرائك للمنتجات الاستهلاكية قصيرة الأجل واعتمد على شرائها بشكل أسبوعي أو يومي حسب تاريخ الانتهاء.</li>
                    <li>شراء السلع التخزينية طويلة الأجل قبل شهر رمضان يجنبك الوقوع في استغلال التجار ويساعدنا في القضاء على ظاهرة ارتفاع الأسعار في هذا الموسم.</li>
                    <li>توجه إلى منافذ البيع الكبرى في شهر رمضان لأن ذلك يضمن لك أقل الأسعار.</li>
                </ul>

            </div>


            <div ng-model="expandme06">
                <div ng-click="expandme06=!expandme06">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  التنزيلات والجوائز والسحوبات</h3>
                </div>
            </div>
            <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                <ul class="Listdisc">
                    <li>تأكد من سعر السلعة قبل التنزيلات وبعد التنزيلات لضمان عدم استغلالك بالتنزيلات والعروض الوهمية.</li>
                    <li>تأكد من جودة المنتجات التي تقام عليها العروض الترويجية والتنزيلات.</li>
                    <li>احتفظ بقسيمة السحب على الجوائز حتى انتهاء فترة العروض.</li>
                </ul>

            </div>



            <div ng-model="expandme07">
                <div ng-click="expandme07=!expandme07">
                    <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  القوانين و التشريعات</h3>
                </div>
            </div>
            <div ng-show="expandme07" class="animated01010 fadeInRightBig" style="padding-right:15px;">
                <a  onclick="window.open('http://www.ajmanded.ae/ar/Doc/%D8%A7%D9%84%D9%84%D8%A7%D8%A6%D8%AD%D8%A9%20%D8%A7%D9%84%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A9%20%D8%A8%D8%AE%D8%B5%D9%88%D8%B5%20%D8%AD%D9%85%D8%A7%D9%8A%D8%A9%20%D8%A7%D9%84%D9%85%D8%B3%D8%AA%D9%87%D9%84%D9%83.pdf', '_system', 'location=yes'); return false;"  style="color:#333;">اللائحة التنفيذية بخصوص حماية المستهلك</a>
                <br /><br />
                <a onclick="window.open('http://ded.sdg.ae/transfeers/consumerLaw.pdf', '_system', 'location=yes'); return false;" style="color:#333;">قانون حماية المستهلك</a>
            </div>
            <br />

        </div>
    </ion-content>
</ion-view>