<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="أهداف الدائرة">
    <ion-content scroll="false" class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3 class="InnerTitle">الاهداف</h3>
            <p>
                تهدف الدائرة إلى تحقيق التنمية الإقتصــادية الشاملــة والمستدامـــة في الإمارة وذلك عن طريق
            </p>

            <p>
                تبني أفضل الممارســات الإقتصــادية والإدارية المستخدمـة، محلياً وإقليمياً وعالمياً، في مزاولة الأنشطة الإقتصادية، والإستعانة بأحدث التقنيات، والأساليب الحديثــة في جمع المعلومات والبيانات الإقتصــادية، وفي وضع الخطـط القويمــة لضمان الإستغلال الأمثل للموارد والإمكانيات المالية والبشرية المتوافرة في الإمارة
            </p>
            <p>
                توفير البنية التحتية المطلوبة، لتحقيــق إقتصاد متنوع الموارد والعائدات في الإمــارة، ولتحقيق التنمية المستـمرة والمستدامــة لكافة القطاعات الإقتصادية في الإمارة
            </p>
            <p>
                الترويـج الإقتصــادي للإمارة، على المستويين المحلــي والخارجي، والإهتمام بتوفير البيئة التشريعية المتطورة، والمناخ الأفضل، لجذب الإستثمــارات المحلية والخارجية، والبيانات والمعلومات الصحيحة، وفرص إستخدام التكنولوجيا الحديثة، لمعـرفة كافة فرص الإستثمــار المتوفـرة في الإمارة، بسهولة ويسر
            </p>
            <p>
                رفع مستوى الوعي لدى الجمهور، ومجتمع الأعمال بالإمارة، وتزويدهم بالمعلومات والبيانات الكافية عن مجريات النشاطات الإقتصادية المتنوعة في الإمارة وفي خارجها
            </p>
        </div>
        
    </ion-content>
</ion-view>