<ion-view dir="rtl" view-title="مستشارك الاقتصادي">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="TAC">
                <img src="img/icon/ourservices/icon_ser28.png" style="width: 20%;" />
            </div>
            <p>
                شهدت امارة عجمان طفرة تنموية شاملة في مختلف القطاعات ولاسيما القطاع الاقتصادي وعملت الإمارة على توفير مقومات النجاح الاقتصادي في جذب رؤوس الأموال والمستثمرين بدعم مباشر من صاحب السمو الشيخ حميد بن راشد النعيمي عضو المجلس الأعلى حاكم عجمان ومتابعة مستمرة من سمو الشيخ عمار بن حميد النعيمي ولي عهد عجمان رئيس المجلس التنفيذي فإن البدء بمشروع تجاري في عجمان بات اليوم أمراً سهلاً جداً بسبب تبسيط العمليات والإجراءات جانب ذلك إن قطاع الشؤون الاقتصادية في دائرة التنمية الاقتصادية في عجمان هو دائماً جاهزا لتقديم الاستشارة وتأمين مستشار اقتصادي .
            </p>
            <p>
                لمزيد من المعلومات يرجى ارسال الاستشارة الاقتصادية الى البريد الالكتروني economic_advisor@ajmanded.ae

            </p>
        </div>
    </ion-content>
</ion-view>