
<ion-view view-title="التسجيل الإلكتروني" dir="rtl">
    <ion-content scroll="false" class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div style="height: 1em"></div>
            <div style="height: 1em"></div>
            <div class="TAC"><img src="img/icon/register.png" /></div>
            <div style="height: 1em"></div>
            <p>خدمة التسجيل هى عبارة عن إنشاء حساب إلكتروني لدى النظام الإقتصادي الذكى لدائرة عجمان للتنمية الإقتصادية. يساعد إنشاء حساب المستثمر الإلكتروني في حفظ خصوصية صاحب الأعمال وضمان استخدام كافة الخدمات الإلكترونية والذكية بخصوصية وأمان.</p>
            <div style="height: 1em"></div>
            <div style="height: 1em"></div>
            <div class="MyButton" ui-sref="registration">التسجيل</div>
        </div>


    </ion-content>
</ion-view>