<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="دليل الأنشطة" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>الاشتراطات الخاصة بلوحات الاسماء التجارية وأنواعها</h1>

                <ul class="Listdisc VerticalList01">
                    <li>القرار الاميري  المحلي رقم 13 لسنة 2015 </li>
                    <li>قانون السجل التجاري رقم 5 لعام 1973 </li>
                    <li>قانون تنظيم وحماية الملكية الصناعية لبراءات الاختراع و الرسوم والنماذج الصناعية رقم 17 لعام 2002 </li>
                    <li>قانون قمع الغش والتدليس رقم 4 لعام 1979  </li>
                    <li>قانون تنظيم الوكالات التجارية رقم 8 لعام 1981</li>
                    <li>قانون الشركات التجارية رقم 2 لعام 2015 </li>
                    <li>قانون العلامات التجارية رقم 37 لعام 1992 </li>
                    <li>قانون الاتجار في الاحجار ذات القيمة رقم 9 لعام 1993 </li>
                    <li>قانون المعاملات التجارية رقم 18 لعام 1993 </li>
                    <li>قانون حقوق المؤلف و الحقوق المجاورة رقم 7 لعام 2002 </li>
                    <li>قانون الرقابة على استيراد وتصدير وعبور الماس الخام رقم 13 لعام 2004 </li>
                    <li>قانون مكافحة  التستر التجاري رقم 17 لعام 2004 </li>
                    <li>قانون المعاملات والتجارة الالكترونية رقم 1 لعام 2006 </li>
                    <li>قانون حماية المستهلك رقم 24 لعام 2006 </li>
                    <li>قانون تنظيم المنافسة رقم 4 لسنة 2012</li>
                    <li>قانون براءات الاختراع و النماذج الصناعية الاماراتي رقم 44 لعام 1992 </li>
                    <li>قانون المشاريع الصغيرة والمتوسطة رقم 2 لعام 2014 </li>
                </ul>


                <br />
                <h2 class="Note">للإقتراحات و الشكاوى برجاء التواصل على الرقم المجاني 80055 خدمة نحفظ حقوقك</h2>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>