<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="الاشتراطات العامة لمزاولة الانشطة الاقتصادية" dir="rtl">
        <ion-content scroll="false" class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <ul class="VerticalList01">
                    <li>» &nbsp; عدم مزاولة أي نشاط بدون ترخيص أو تصريح من قبل الدائرة</li>
                    <li>» &nbsp; عدم استغلال موقع المنشأة لغرض السكن أو أي أغراض أخرى غير النشاط المصرح به </li>
                    <li>» &nbsp; عدم إجراء أي تعديل أو تغيير في بيانات الترخيص إلا بعد الرجوع للدائرة</li>
                    <li>» &nbsp; يتطلب اجراء تغيير موقع المنشأة موافقة مسبقة من الدائرة</li>
                    <li>» &nbsp; لا يـسمح بوجود أبواب أو غرف سرية بالمنشأة</li>
                    <li>» &nbsp; وضع لوحة على واجهة المحل تبين أوقات العمل</li>
                    <li>» &nbsp; ضرورة وجود غرف للقياس (رجالي / نسائي) في محال الملابس والخياطة </li>
                    <li>» &nbsp; عدم تكديس البضاعة في المحل </li>
                    <li>» &nbsp; عدم عرض البضاعة خارج المحل</li>
                    <li>» &nbsp; عدم تثبيت كاميرات مراقبة في الصالونات النسائية ومحال الخياطة النسائية او الأماكن الخاصة وضرورة وضع شعار (المكان مراقب بالكاميرات) وذلك للأنشطة المصرح لها فقط</li>
                    <li>» &nbsp; يمنع التدخين في المحل</li>
                    <li>» &nbsp; عدم وضع أي ملصقات إعلانية على واجهة المحل إلا بعد الحصول على تصريح بذلك ولا يسمح ان تتعدى مساحة الإعلان 50% من مساحة الواجهة</li>
                    <li>» &nbsp; عدم وضع مكائن تعمل بالعملة المعدنية إلا بعد الحصول على تصريح بذلك</li>
                    <li>» &nbsp; عدم بيع السجائر لمن هم دون السن القانوني 18 سنة </li>
                    <li>» &nbsp; يمنع منعاً باتاً بيع أو تخزين الألعاب النارية</li>
                    <li>» &nbsp; لا يسمح لمحلات بيع الأعشاب الشعبية او أي منتجات أو مستحضرات طبية أو علاجية أو دوائية أو عشبية او إعطاء وصفات طبية او علاجية</li>
                    <li>» &nbsp; مراجعة الدائرة في حال وجود مستودع للمحل لأخذ التصريح اللازم</li>
                    <li>» &nbsp; عدم القيام بعملية إصلاح الأجهزة بدون الحصول على النشاط المناسب</li>
                    <li>» &nbsp; عدم بيع او تنزيل اية برامج غير اصلية على الاجهزة</li>
                    <li>» &nbsp; عدم بيع او تنزيل برامج لفتح المواقع المحظورة</li>
                    <li>» &nbsp; عدم الترويج للمنتجات والخدمات عن طريق الهاتف نهائيا</li>
                    <li>» &nbsp; عدم الترويج عن المحل عن طريق الكتيبات او الملصقات الا بعد الحصول على تصريح من الدائرة</li>
                    <li>» &nbsp; عدم تضليل المحلات الارضية، ويستثنى من ذلك العيادات والصالونات النسائية</li>
                    <li>» &nbsp; وضع صورة من الرخصة او التصريح فى مكان بارز بالمحل</li>
                    <li>» &nbsp; يتطلب القيام بتصريح التنزيلات والحملات الترويجية والتصاريح الاعلانية موافقة مسبقة من الدائرة </li>
                    <li>» &nbsp; يمنع وضع الاعلانات الورقية على واجهات المنازل وعلى السيارات</li>
                    <li>» &nbsp; الالتزام بكتابة الأسعار على السلع والبضائع </li>
                    <li>» &nbsp; للمستهلك الحق في الحصول على فاتورة الشراء </li>
                    <li>» &nbsp; يتوجب على صاحب المحل ابراز سياسة الاسترجاع والاستبدال في مكان بارز</li>
                    <li>» &nbsp; عدم القيام بالترويج أو البيع أو العرض لأية بضائع مقلدة أو مغشوشة او مجهولة المصدر</li>
                    <li>» &nbsp; أهمية الإلتزام بالإتفاق المبرم بين المتعاقدين</li>
                    <li>» &nbsp; ضرورة الإلتزام بالقوانين المنظمة لحقوق المستهلك</li>
                    <li>» &nbsp; عدم فرض رسوم إضافية مقابل استخدام بطاقات الائتمان</li>
                    <li>» &nbsp; عدم مزاولة النشاط بعد الساعة 12:00 صباحاً إلا بعد الحصول على تصريح بذلك</li>
                    <li>» &nbsp; الالتزام بكتابة تاريخ الإنتاج والانتهاء على السلع</li>
                    <li>» &nbsp; في حال وجود ضمان على قطع الغيار  او الأجهزة الكهربائية يجب إعلام المشتري خطيا بما يغطيه الضمان ومدة الضمان والاسباب المؤدية لإلغاء الضمان</li>
                    <li>» &nbsp; يتوجب على المنشاة اخذ تصريح من الدائرة في حال الرغبة بعمل حملة ترويجية او تنزيلات او تصفية</li>
                    <li>» &nbsp; ضرورة توخي الحذر في حالات التعامل في الشراء من قبل مركبات لاتحمل اسماء تجارية أو لا تصدر فواتير بالبيع وضرورة معرفة مصدر البضائع التي يتم عرضها أو بيعها</li>
                    <li>» &nbsp; يجب عرض اسعار الخدمة واعلام المستهلك بها قبل تقديم الخدمـــة</li>
                    <li>» &nbsp; عـدم تركيب أي منتجات تحمل علامات تجارية مقلدة</li>
                    <li>» &nbsp; أن يتم تسليم العميل ورقة تثبت أن ورشة الإصلاح قامت باستلام المركبة من العميل مع بيان رسم توضيحي للخدوش أو الكدمات السابقة على السيارة</li>
                    <li>» &nbsp; أن تكون الورشة مسؤولة عن العهدة ( السيارة ) أثناء عملية الإصلاح حتى قيام العميل باستلام المركبة</li>

                </ul>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>