<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="دليل الأنشطة" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>الاشتراطات العامة لمزاولة الانشطة الاقتصادية</h1>

                <table>
                    <tr>
                        <td style="width: 10px">»</td>
                        <td>عدم مزاولة أي نشاط بدون ترخيص أو تصريح من قبل الدائرة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم استغلال موقع المنشأة لغرض السكن أو أي أغراض أخرى غير النشاط المصرح به</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم إجراء أي تعديل أو تغيير في بيانات الترخيص إلا بعد الرجوع للدائرة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يتطلب اجراء تغيير موقع المنشأة موافقة مسبقة من الدائرة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>لا يـسمح بوجود أبواب أو غرف سرية بالمنشأة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>وضع لوحة على واجهة المحل تبين أوقات العمل</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>ضرورة وجود غرف للقياس (رجالي / نسائي) في محال الملابس والخياطة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم تكديس البضاعة في المحل</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم عرض البضاعة خارج المحل</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم تثبيت كاميرات مراقبة في الصالونات النسائية ومحال الخياطة النسائية او الأماكن الخاصة وضرورة وضع شعار (المكان مراقب بالكاميرات) وذلك للأنشطة المصرح لها فقط</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يمنع التدخين في المحل</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم وضع أي ملصقات إعلانية على واجهة المحل إلا بعد الحصول على تصريح بذلك ولا يسمح ان تتعدى مساحة الإعلان 50% من مساحة الواجهة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم وضع مكائن تعمل بالعملة المعدنية إلا بعد الحصول على تصريح بذلك</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم بيع السجائر لمن هم دون السن القانوني 18 سنة </td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يمنع منعاً باتاً بيع أو تخزين الألعاب النارية</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>لا يسمح لمحلات بيع الأعشاب الشعبية او أي منتجات أو مستحضرات طبية أو علاجية أو دوائية أو عشبية او إعطاء وصفات طبية او علاجية</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>مراجعة الدائرة في حال وجود مستودع للمحل لأخذ التصريح اللازم</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم القيام بعملية إصلاح الأجهزة بدون الحصول على النشاط المناسب</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم بيع او تنزيل اية برامج غير اصلية على الاجهزة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم بيع او تنزيل برامج لفتح المواقع المحظورة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم الترويج للمنتجات والخدمات عن طريق الهاتف نهائيا</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم الترويج عن المحل عن طريق الكتيبات او الملصقات الا بعد الحصول على تصريح من الدائرة</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم تضليل المحلات الارضية، ويستثنى من ذلك العيادات والصالونات النسائية</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>وضع صورة من الرخصة او التصريح فى مكان بارز بالمحل</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يتطلب القيام بتصريح التنزيلات والحملات الترويجية والتصاريح الاعلانية موافقة مسبقة من الدائرة </td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يمنع وضع الاعلانات الورقية على واجهات المنازل وعلى السيارات</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>الالتزام بكتابة الأسعار على السلع والبضائع </td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>للمستهلك الحق في الحصول على فاتورة الشراء </td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>يتوجب على صاحب المحل ابراز سياسة الاسترجاع والاستبدال في مكان بارز</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>عدم القيام بالترويج أو البيع أو العرض لأية بضائع مقلدة أو مغشوشة او مجهولة المصدر</td>
                    </tr>
                    <tr>
                        <td>»</td>
                        <td>أهمية الإلتزام بالإتفاق المبرم بين المتعاقدين</td>
                    </tr>
                    <tr><td>»</td><td>ضرورة الإلتزام بالقوانين المنظمة لحقوق المستهلك</td></tr>
                    <tr><td>»</td><td>عدم فرض رسوم إضافية مقابل استخدام بطاقات الائتمان</td></tr>
                    <tr><td>»</td><td>عدم مزاولة النشاط بعد الساعة 12:00 صباحاً إلا بعد الحصول على تصريح بذلك</td></tr>
                    <tr><td>»</td><td>الالتزام بكتابة تاريخ الإنتاج والانتهاء على السلع</td></tr>
                    <tr><td>»</td><td>في حال وجود ضمان على قطع الغيار  او الأجهزة الكهربائية يجب إعلام المشتري خطيا بما يغطيه الضمان ومدة الضمان والاسباب المؤدية لإلغاء الضمان</td></tr>
                    <tr><td>»</td><td>يتوجب على المنشاة اخذ تصريح من الدائرة في حال الرغبة بعمل حملة ترويجية او تنزيلات او تصفية</td></tr>
                    <tr><td>»</td><td>ضرورة توخي الحذر في حالات التعامل في الشراء من قبل مركبات لاتحمل اسماء تجارية أو لا تصدر فواتير بالبيع وضرورة معرفة مصدر البضائع التي يتم عرضها أو بيعها</td></tr>
                    <tr><td>»</td><td>يجب عرض اسعار الخدمة واعلام المستهلك بها قبل تقديم الخدمـــة</td></tr>
                    <tr><td>»</td><td>عـدم تركيب أي منتجات تحمل علامات تجارية مقلدة</td></tr>
                    <tr><td>»</td><td>أن يتم تسليم العميل ورقة تثبت أن ورشة الإصلاح قامت باستلام المركبة من العميل مع بيان رسم توضيحي للخدوش أو الكدمات السابقة على السيارة</td></tr>
                    <tr><td>»</td><td>أن تكون الورشة مسؤولة عن العهدة ( السيارة ) أثناء عملية الإصلاح حتى قيام العميل باستلام المركبة</td></tr>

                </table>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>