<ion-view view-title="اجراءات تجديد تراخيص المنشأت الفردية" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3>وصف الخدمة  :</h3>
            <p>
                تجديد تراخيص المنشأت الفردية
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                شركات / مؤسسات
            </p>



            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>نسخة عن بطاقة الهوية سارية المفعول للمالك الموطن</li>
                    <li>نسخة عن جواز سفر للمالك الموطن أو الخليجي</li>
                    <li>نسخة من شهادة توثيق عقد الإيجار ساري المفعول أو صورة من ملكية العقار في حالة كون العقار بأسم صاحب الترخيص</li>

                </ul>
            </div>

            

            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <ul class="Listdecimal">
                    <li>تعبئة نموذج طلب الترخيص</li>
                    <li>إرفاق المستندات المطلوبة</li>
                    <li>الحصول على الموافقة من إدارة الرقابة والتفتيش</li>
                    <li>توفير الموافقات الخارجية</li>
                    <li>مراجعة كاونتر الاستشارات بمركز الخدمة واعتماده صحة البيانات</li>
                    <li>دفع الرسوم</li>
                    <li>استلام الترخيص</li>

                </ul>

            </div>


            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> الموافقات والاعتمادات المطلوبة من جهات خارجية</h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>موافقة الجهات الحكومية الاخرى على التجديد وفقاً لما هو وارد بسجل الموافقات الخارجية وبحسب النشاط.</li>
                </ul>
                <p></p>

                <h4>النماذج المتعلقة بطلب الخدمة</h4>
                <p>طلب ترخيص  EA-1-1-F1</p>
                <h4>القسم المعني بتقديم الخدمة</h4>
                <p>قسم التراخيص الاقتصادية</p>

            </div>

        </div>
        </ion-content>
    </ion-view>