<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="قائمة المخالفات">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <table class="table-2" cellspacing="0" border="0">
                <style>
                    .custompadding {
                        padding: 5px;
                    }
                </style>
                <tbody>
                    <tr>
                        <th class="custompadding">الرقم</th>
                        <th class="custompadding">المخالفة</th>
                        <th class="custompadding">الغرامة  بالدرهم</th>

                    </tr>
                    <tr>
                        <td class="custompadding">1</td>
                        <td class="custompadding">مزاولة النشاط الاقتصادي بدون ترخيص او تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">2</td>
                        <td class="custompadding">عدم الالتزام بشروط التصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">3</td>
                        <td class="custompadding">ممارسة نشاط اقتصادي غير وارد في الترخيص </td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">4</td>
                        <td class="custompadding">مزاولة النشاط الاقتصادي في المنشأة أثناء فترة إغلاقها من قبل الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">10,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">5</td>
                        <td class="custompadding">عدم تجديد الرخصة خلال المهلة المحددة ( شهر من تاريخ انتهاء الترخيص )  </td>
                        <td class="custompadding" dir="ltr" style="text-align:right">250/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">6</td>
                        <td class="custompadding">التأخيرفي تجديد الرخصة  (عن كل شهرويعتبر جزء الشهر شهراً كاملاً )</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">200/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">7</td>
                        <td class="custompadding">تغيير أو إضافة النشاط المصرح به دون الحصول على موافقة الدائرة أو الجهة الحكومية المختصة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">8</td>
                        <td class="custompadding">ممارسة النشاط المصرح به خارج المنشأة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">9</td>
                        <td class="custompadding">الإعلان عن القيام بأي نشاط اقتصادي بصورة مخالفة للتشريعات السارية </td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>

                    <tr>
                        <td class="custompadding">10</td>
                        <td class="custompadding">استغلال موقع المنشأة في غير الأنشطة المصرح بها</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">11</td>
                        <td class="custompadding">عرقلة عمل موظفي الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">10,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">12</td>
                        <td class="custompadding">عدم الالتزام بطلب الحضور لمراجعة الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">13</td>
                        <td class="custompadding">عدم الالتزام بالتعهد المقدم للدائرة، أو بالتعليمات والشروط والضوابط الصادرة عنها</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">14</td>
                        <td class="custompadding">تقديم بيانات غير صحيحة للدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">20,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">15</td>
                        <td class="custompadding">عدم الالتزام بمواعيد العمل المخصصة لارتياد الفئات العمرية لصالات الالعاب</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">16</td>
                        <td class="custompadding">وضع تجهيزات موزعة للنقود تعتمد على الحظ والحصول على الربح أو المقامرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">17</td>
                        <td class="custompadding">الترويج لمنتج أو خدمة عن طريق المكالمة الهاتفية أو في المساكن عن طريق العملاء او المندوبين</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">18</td>
                        <td class="custompadding">عرض المنتجات للبيع بطريق المناداة في الطرق</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">19</td>
                        <td class="custompadding">تخزين البضائع داخل المكاتب والمحال التجارية</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">20</td>
                        <td class="custompadding">عرض البضائع او تقديم الخدمات خارج المحال التجارية بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">21</td>
                        <td class="custompadding">البيع بطريقة التجوال</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">22</td>
                        <td class="custompadding">عمل او تواجد الرجال في صالونات او أندية اللياقة البدنية النسائية ومراكز المساج أو العكس</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">23</td>
                        <td class="custompadding">بيع أوعرض مطبوعات او بضائع أو وسائل مخلة بالآداب العامة أوالتعاليم الاسلامية أومسيئة للدولة أو العادات والتقاليد</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">10,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">24</td>
                        <td class="custompadding">بيع المفرقعات والألعاب والأدوات الخطرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">25</td>
                        <td class="custompadding">تنظيم وإقامة ( معرض/مؤتمر ) بدون تصريح من الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">26</td>
                        <td class="custompadding">العمل لساعات اضافية بدون تصريح من الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">27</td>
                        <td class="custompadding">عدم إلتزام المطاعم ومافي حكمها بتصريح العمل في نهار شهر رمضان</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">28</td>
                        <td class="custompadding">اقامة/ انشاء خيمة تجارية بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">15,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">29</td>
                        <td class="custompadding">وضع جهاز صراف آلي خارج البنك أو أجهزة البيع المباشر بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">30</td>
                        <td class="custompadding">ممارسة المطاعم والمقاهي وما في حكمها لعملها خلال نهار شهر رمضان بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">31</td>
                        <td class="custompadding">عدم الالتزام بالتصريح بالعمل لساعات إضافية</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">32</td>
                        <td class="custompadding">فتح مكتب اضافي لرخصة قائمة بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">33</td>
                        <td class="custompadding">تظليل الواجهات الأمامية للمحل بنسبة تزيد على 50 %</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">34</td>
                        <td class="custompadding">وضع كشك/كاونتر/كابينة تجارية بدون ترخيص لمن لديه رخصة أو تصريح لمن ليس لدية رخصة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">35</td>
                        <td class="custompadding">التلاعب في عملية السحب على الجوائز</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">15,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">36</td>
                        <td class="custompadding">السحب على جوائر بدون حضور مندوب الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">10,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">37</td>
                        <td class="custompadding">بيع تذاكر الحملة الترويجية بمقابل مادي بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">38</td>
                        <td class="custompadding">عدم تسليم او صرف الجائزة للفائزين بنتائج السحب خلال المدة المحددة من قبل الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">39</td>
                        <td class="custompadding">عدم الالتزام بالفترة المحددة بتصريح التصفية</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">40</td>
                        <td class="custompadding">عدم الالتزام بمواقع فعاليات الحملة الترويجية</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">41</td>
                        <td class="custompadding">تمديد الحملة الترويجية بدون موافقة الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">42</td>
                        <td class="custompadding">تنفيذ الحملة الترويجية بطريقة مخالفة لما هو مصرح به</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">43</td>
                        <td class="custompadding">إجراء تنزيلات أو تصفيات أو عروض أو حملات ترويجية أو منح جوائز بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">10,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">44</td>
                        <td class="custompadding">عدم الاحتفاظ بقائمة الأسعار المعتمدة من الدائرة أثناء عملية التنزيلات او العروض الخاصة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">45</td>
                        <td class="custompadding">عدم الالتزام بالفترة المحددة في تصريح البيع بالاسعار المخفضة (تنزيلات / عرض خاص)</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">46</td>
                        <td class="custompadding">عدم وضع بطاقات الاسعار المعتمدة على البضائع (تنزيلات / عرض خاص )</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">47</td>
                        <td class="custompadding">عدم الالتزام بالمساحة المصرح بها في تصريح التنزيلات أو التصفيات أو العروض الخاصة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">48</td>
                        <td class="custompadding">عدم تسوية وضع الحملة الترويجية خلال شهرين</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">3,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">49</td>
                        <td class="custompadding">عدم الالتزام بالموعد المحدد لعملية السحب</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">50</td>
                        <td class="custompadding">وضع لافتة اعلانية او شاشات الكترونية بدون تصريح </td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">51</td>
                        <td class="custompadding">توزيع منشورات اعلانية في الاماكن العامة والخاصة بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">52</td>
                        <td class="custompadding">لصق منشورات اعلانية في الاماكن العامة والخاصة بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">53</td>
                        <td class="custompadding">عدم وجود لافتة اعلانية بالاسم التجاري</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">500/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">54</td>
                        <td class="custompadding">عدم الالتزام بشروط الاعلان المعتمدة لدى الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">55</td>
                        <td class="custompadding">وضع / استغلال شعار مهرجان عجمان للتسوق  بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">20,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">56</td>
                        <td class="custompadding">عدم وجود تطابق بين قائمة الاسعارالمعتمدة من قبل الدائرة والاسعار المعلنة للبضائع المعروضة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">2,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">57</td>
                        <td class="custompadding">عدم الالتزام بإزالة أسباب المخالفة خلال المهلة التي تحددها الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">58</td>
                        <td class="custompadding">عدم استخدام الملصقات والمواد الاعلانية الخاصة بمهرجان عجمان للتسوق بالنسبة للمنشأة المشاركة في المهرجان</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">59</td>
                        <td class="custompadding">استخدام الملصقات و المواد الاعلانية الخاصة بالمهرجان بدون تصريح</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">60</td>
                        <td class="custompadding">التصرف في بضاعة تم التحفظ عليها من قبل الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">61</td>
                        <td class="custompadding">رفض التوقيع على محضر الضبط أو محضر التحفظ على البضاعة أو محضر أخذ العينات</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">62</td>
                        <td class="custompadding">الحيازة بقصد الاتجار أو العرض للبيع لسلعة مجهولة المصدر أو غير مصحوبة بالمستندات الدالة على مصدرها او متضمن معلومات مضللة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">63</td>
                        <td class="custompadding">القيام بأي فعل من شأنه تصنيع أو عرض أو بيع أو تسويق أو ترويج بضائع بصورة مخالفة للتشريعات السارية لدى الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">15,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">64</td>
                        <td class="custompadding">التأخير في تجديد تصريح المستودعات  ( عن كل شهر ويعتبر جزء الشهر شهرا كاملا )</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">200/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">65</td>
                        <td class="custompadding"> إضافة مستودع للمنشأة الصناعية او التجارية او المهنية بدون الحصول على تصريح من الدائرة</td>
                        <td class="custompadding" dir="ltr" style="text-align:right">5,000/-</td>

                    </tr>
                    <tr>
                        <td class="custompadding">66</td>
                        <td class="custompadding">كتابة او تركيب لوحة محل خلافا للمواصفات المعتمدة لدى الدائرة </td>
                        <td class="custompadding" dir="ltr" style="text-align:right">1,000/-</td>

                    </tr>
                </tbody>
            </table>

            <table class="table-2" cellspacing="0" border="0">
                <style>
                    .custompadding {
                        padding: 5px;
                    }
                </style>
                <tbody>
                    <tr>
                        <th class="custompadding">#</th>
                        <th class="custompadding"> الإجراءات الأخرى </th>


                    </tr>
                    <tr>
                        <td class="custompadding">1</td>
                        <td class="custompadding">تضاعف الغرامة في حال تكرار المخالفة للمرة الثانية وتثبت في المرات اللاحقه وبما لا يزيد عن 100,000  درهم في السنة</td>


                    </tr>
                    <tr>
                        <td class="custompadding">2</td>
                        <td class="custompadding">بالإضافة الى قيمة الغرامة يجوز للدائرة اتخاذ واحدة او اكثر من التدابير التالية:</td>


                    </tr>
                    <tr>
                        <td class="custompadding">2.1</td>
                        <td class="custompadding">اغلاق المنشاة لمدة لا تزيد عن 6 اشهر</td>


                    </tr>
                    <tr>
                        <td class="custompadding">2.2</td>
                        <td class="custompadding">مصادرة او حجز البضائع التي يتم ضبطها</td>


                    </tr>
                    <tr>
                        <td class="custompadding">2.3</td>
                        <td class="custompadding">الغاء الرخصة</td>


                    </tr>
                </tbody>
            </table>


        </div>
    </ion-content>
</ion-view>