<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="تعرف علينا">
    <ion-content class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <h3 class="InnerTitle">حول الدائرة الإقتصادية</h3>
            <p>
                تأسست الدائرة الإقتصادية لغرض تعزيز التنمية الإقتصادية المستدامة لإمارة عجمان بمشاركة مواطني الإمارات
                العربية المتحدة.
            </p>
            <h3 class="InnerTitle">معلومات عامة</h3>
            <p>
                يؤمن رئيس دائرة التنمية الاقتصادية أنه من الضروري الآن إعادة تفعيل دائرة التنمية الاقتصادية إلى هيئة
                حكومية فاعلة تماما مع الأدوار والمسؤوليات المحددة تجاه المستقبل الاقتصادي لإمارة عجمان.
            </p>
            <h3 class="InnerTitle">رؤيتنا</h3>
            <p>
                اقتصاد تنافسي متنوع لاستدامة التنمية في إمارة عجمان

            </p>
            <h3 class="InnerTitle">رسالتنا</h3>
            <p>
                تحقيق اقتصاد مزدهر لرفاهية سكان الإمارة من خلال التخطيط وإعداد السياسات والتشريعات والتنظيم والرقابة والترويج الاقتصادي

            </p>
            <h3 class="InnerTitle">القيم</h3>
            <table style="width: 95%;margin: 1em">
                <tr>
                    <td style="width: 50%">روح الفريق.</td>
                    <td> اسعاد المتعاملين.</td>
                </tr>
                <tr>
                    <td>الشفافية</td>
                    <td>الإبداع والابتكار.</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>