<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="خدمات الاعلامية">
    <ion-content scroll="false" class="content" dir="rtl">
        <div class="Wrapper animated03 fadeInRightBig">

            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  مستشارك القانونى</h3>
                </div>
            </div>
            <div ng-show="expandme" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser1.png" style="width: 20%;" />
                </div>
                <p>
                    تعمل دائرة التنمية الاقتصادية في عجمان على تسهيل العمليات التجارية وتأمين أكبر قدر من الدعم للشركات الجديدة التي تسعى إما لدخول سوق العمل أو توسيع نطاق عملها في أكثر أسواق العمل حيويةً فى دولة الامارات العربية المتحدة. فإن البدء بمشروع تجاري في عجمان بات اليوم أمراً سهلاً جداً بسبب تبسيط العمليات والإجراءات . بالإضافة إلى ذلك تعد أغلبية الاشتراطات والأنظمة والقواعد شاملة وواضحة ومع ذلك يمكن مصادفة حالات متعلقة بهذه الأمور تتطلب إيضاحاً أكثر بسبب التنوع الذي يتمتع به اقتصاد الإمارة. بجانب ذلك إن قطاع الشؤون القانونية في دائرة التنمية الاقتصادية في عجمان هي دائماً جاهزة لتقديم الاستشارة وتأمين مستشار قانوني حتى في القضايا الفردية. فقد تظهر حالات نادرة تتطلب أنظمة جديدة أو معدلة أو نشاطاً تجارياً معقداً يحتاج إلى استشارة متخصص أو خبير.
                </p>
                <p>
                    لمزيد من المعلومات يرجى ارسال الاستشارة القانونية الى البريد الالكتروني legal_advisor@ajmanded.ae

                </p>
            </div>


            <div ng-model="expandme02">
                <div ng-click="expandme02=!expandme02">
                    <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  مستشارك الاقتصادى</h3>
                </div>
            </div>
            <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser28.png" style="width: 20%;" />
                </div>
                <p>
                    شهدت امارة عجمان طفرة تنموية شاملة في مختلف القطاعات ولاسيما القطاع الاقتصادي وعملت الإمارة على توفير مقومات النجاح الاقتصادي في جذب رؤوس الأموال والمستثمرين بدعم مباشر من صاحب السمو الشيخ حميد بن راشد النعيمي عضو المجلس الأعلى حاكم عجمان ومتابعة مستمرة من سمو الشيخ عمار بن حميد النعيمي ولي عهد عجمان رئيس المجلس التنفيذي فإن البدء بمشروع تجاري في عجمان بات اليوم أمراً سهلاً جداً بسبب تبسيط العمليات والإجراءات جانب ذلك إن قطاع الشؤون الاقتصادية في دائرة التنمية الاقتصادية في عجمان هو دائماً جاهزا لتقديم الاستشارة وتأمين مستشار اقتصادي .
                </p>
                <p>
                    لمزيد من المعلومات يرجى ارسال الاستشارة الاقتصادية الى البريد الالكتروني economic_advisor@ajmanded.ae

                </p>
            </div>

            <div ng-model="expandme03">
                <div ng-click="expandme03=!expandme03">
                    <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  اصدار تراخيص الشركات (ذات مسئولية محدودة – شركة توصية -شركة تضامن)</h3>
                </div>
            </div>
            <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser25.png" style="width: 20%;" />
                </div>
                <p>
                    تتيح خدمة اصدار تراخيص للشركات (ذات مسئولية محدودة – شركة توصية -شركة تضامن) للمستثمرين فرص استثمارية متنوعة مع العديد من الشركاء، حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية – عجمان
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055
                </p>
            </div>


            <div ng-model="expandme04">
                <div ng-click="expandme04=!expandme04">
                    <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  اصدار تراخيص المؤسسات الفردية</h3>
                </div>
            </div>
            <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser20.png" style="width: 20%;" />
                </div>
                <p>
                    تتيح خدمة اصدار تراخيص المؤسسات الفردية (مؤسسة فردية يملكها امارتي – مؤسسة فريدة يملكها مواطن من دول مجلس التعاون الخليجي – مؤسسة فردية يملكها مستثمر أجنبي – فرع مؤسسة فردية محلية في امارة عجمان – فرع مؤسسة فردية من امارة أخرى) فرص استثمارية متنوعة وفقا لمتطلباتهم، حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية - عجمان.
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055
                </p>
            </div>


            <div ng-model="expandme05">
                <div ng-click="expandme05=!expandme05">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  اصدار تراخيص شركات مساهمة (عامة – خاصة)</h3>
                </div>
            </div>
            <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser24.png" style="width: 20%;" />
                </div>
                <p>
                    تتيح خدمة اصدار تراخيص شركات المساهمة عامة أو خاصة للمستثمرين فرص استثمارية متنوعة وفقا لمتطلباتهم، حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية -عجمان.
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055

                </p>
            </div>


            <div ng-model="expandme06">
                <div ng-click="expandme06=!expandme06">
                    <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  تجديد الرخص الاقتصادية</h3>
                </div>
            </div>
            <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser7.png" style="width: 20%;" />
                </div>
                <p>
                    يتوجب تجديد الرخص التجارية في إمارة عجمان بشكل سنوي (أو كل سنتين وفقاً لمدة سريان عقد الإيجار) وتتطلب عملية التجديد توفر عقد إيجار ساري لموقع الرخصة التجارية وموثق من دائرة البلدية والتخطيط بالإضافة إلى الحصول على الموافقات الخارجية من الجهات المنظمة للأنشطة الاقتصادية المدرجة في الرخصة.
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055
                </p>
            </div>



            <div ng-model="expandme07">
                <div ng-click="expandme07=!expandme07">
                    <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  تعديل التراخيص التجارية</h3>
                </div>
            </div>
            <div ng-show="expandme07" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser16.png" style="width: 20%;" />
                </div>
                <p>
                    تتيح خدمة تعديل الرخص التجارية تلبية رغبته المستثمرين بتعديل او اضافة نشاط تجاري أو أية تغييرات أخرى يرغب بها على رخصته التجارية حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية -عجمان.
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055
                </p>
            </div>



            <div ng-model="expandme08">
                <div ng-click="expandme08=!expandme08">
                    <h3 class="CollapsTitle animated06 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  التصاريح التجارية</h3>
                </div>
            </div>
            <div ng-show="expandme08" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/v.png" style="width: 20%;" />
                </div>
                <p>
                    التصريح هو مستند رسمي يصدر عن دائرة التنمية الاقتصادية – عجمان ويشترط وجود ترخيص فعال في إمارة عجمان، وتكون طبيعة الشأن المصرح له في التصريح متجانسة مع نشاط الرخصة. حيث تقدم الخدمة من خلال مراكز خدمة العملاء بدائرة التنمية الاقتصادية -عجمان.
                </p>
                <p>
                    للمزيد من المعلومات اضغط هنا او الاتصال على 80055

                </p>
            </div>



            <div ng-model="expandme08">
                <div ng-click="expandme08=!expandme08">
                    <h3 class="CollapsTitle animated07 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  شكاوى المستهلكين</h3>
                </div>
            </div>
            <div ng-show="expandme08" class="animated01010 fadeInRightBig">
                <div class="TAC">
                    <img src="img/icon/ourservices/icon_ser13.png" style="width: 20%;" />
                </div>
                <p>
                    تقدم إدارة الرقابة وحماية المستهلك هذه الخدمة لحل شكاوى المستهلكين وحماية حقوقهم.
                </p>
                <p>
                    اظغط هنا لتسجيل شكوى او الاتصال على  80055
                </p>
            </div>
            <br />
            <h3 class="animated08 fadeInRightBig">للمزيد من الخدمات يرجى الاتصال على 80055</h3>

        </div>
    </ion-content>
</ion-view>