<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="المركز الاعلامي">
    <ion-content scroll="false" class="content">
        
        <div class="Wrapper">
            <br />

            <div class="TAC animated03 fadeInRightBig">
                <img src="img/News/20mar.jpg" />
            </div>
            <h1 class="animated04 fadeInRightBig">21 مارس</h1>
            <h2 class="Inner animated05 fadeInRightBig">                اقتصادية عجمان تنظم ورشة عمل عن " المهارات الإدارية الرئيسية للمدراء والمشرفين الجدد"</h2>
            <p class="animated06 fadeInRightBig" >

                نظم قسم التدريب والتطوير في دائرة التنمية الاقتصادية ورشة عمل حول المهارات الإدارية الرئيسية للمدراء والمشرفين الجدد استمرت ثلاث ايام. وشمل البرنامج التدريبي عددا من الاهداف ذات الأثر المباشر على الكوادر الادارية والإشرافية وذلك من خلال نقل المعرفة للمدراء والمشرفين حول 
            </p>

            <hr />
            <br />
            <div class="TAC animated07 fadeInRightBig">
                <img src="img/News/licmeet.jpg" />
            </div>
            <h1>1 مارس</h1>
            <h2 class="Inner">                 اجتماع المجلس القيادي الشهري في اقتصادية عجمان</h2>
            <p>

                اجتمع سمو الشيخ أحمد بن حميد النعيمي رئيس دائرة التنمية الاقتصادية مع سعادة علي عيسى النعيمي مدير عام الدائرة وسعادة محمد علي المرزوقي نائب المدير العام للشؤون التنفيذية ومدراء الإدارات والمكاتب المتخصصة بالدائرة وذلك من ضمن اجتماع سموه الشهري مع المسؤولين في الدائرة لمتابعة الإنجاز في 
            </p>

        </div>
    </ion-content>
</ion-view>