<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="خدمة الاستشارات">
    <ion-content scroll="false" class="content" dir="rtl">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>


            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="">
                            <img src="img/icon/ourservices/icon_ser1.png" />
                        </div>
                        <h2>مستشارك القانونى</h2>
                        <hr />
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="">
                            <img src="img/icon/ourservices/icon_ser28.png" />
                        </div>
                        <h2>مستشارك الاقتصادى</h2>
                        <hr />
                    </li>
                </ul>
            </div>


        </div>
    </ion-content>
</ion-view>