<head>
    <meta charset="utf-8">
</head>

<div class="Wrapper">
    <div class="Page-Inner-Padding-Top"></div>
    <h3 class="InnerTitle">كيف كانت تجربتك؟</h3>


    <table style="width: 95%;margin: 1em">
        <tr>
            <td style="width: 33.3%;text-align: center"><img src="img/icon/face1.png" style="width: 5em;"/></td>
            <td style="width: 33.3%;text-align: center"><img src="img/icon/face2.png" style="width: 5em;"/></td>
            <td style="width: 33.3%;text-align: center"><img src="img/icon/face3.png" style="width: 5em;"/></td>
        </tr>
        <tr>
            <td style="text-align: center">سعيد</td>
            <td style="text-align: center">محايد</td>
            <td style="text-align: center">غير سعيد</td>
        </tr>
    </table>

</div>
