<head>
    <meta charset="utf-8">
</head>

<div class="" ng-controller="mainController">
    <div class="Page-Inner-Padding-Top"></div>
    <h3 class="HappenessInnerTitle">كيف كانت تجربتك؟</h3>

    <table style="width: 90%;margin: 0">
        <tr>
            <td ng-click="Answer3(3)"  style="width: 33.3%;text-align: center">
                <div id="happy3" class="Happeness-face1-Light"></div>
                <div class="FFTahoma FZ-9 OneLine TAC">حزين</div>
            </td>
            <td ng-click="Answer2(2)"  style="width: 33.3%;text-align: center">
                <div id="happy2" class="Happeness-face2-Light"></div>
                <div class="FFTahoma FZ-9 OneLine TAC">محايد</div>
            </td>
            <td ng-click="Answer1(1)"  style="width: 33.3%;text-align: center">
                <div id="happy1" class="Happeness-face3-Light"></div>
                <div class="FFTahoma FZ-9 OneLine TAC">سعيد</div>
            </td>
        </tr>
    </table>

</div>
