<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="التنبيهات" dir="rtl">
    <ion-content scroll="false" class="content">
        <div class="Wrapper animated03 fadeInRightBig">
            <h3 class="InnerTitle">21/3/2016</h3>
            <h4>
                <span class="ion-checkmark"></span>
                تم إضافة خدمة إصدار التصاريح الالكترونية علي التطبيق
            </h4>
            <br />
            <h3 class="InnerTitle">21/3/2016</h3>
            <h4>
                <span class="ion-checkmark"></span>
                تم افتتاح مركز خدمة جديد لتسهيل خدمات المتعاملين
            </h4>
        </div>
    </ion-content>
</ion-view>