<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view dir="rtl" view-title="الخدمات الالكترونية">
        <ion-content scroll="false" class="content">
            <div class="Wrapper">

                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <div class="icon" ui-sref="eRegistration"><img src="img/icon/register.png" /></div>
                            <h2>تسجيل جديد</h2>
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <div class="icon" ui-sref="renewal"><img src="img/icon/renew.png" /></div>
                            <h2>تجديد رخصة</h2>
                        </li>
                        <li class="animated02 fadeInRightBig">
                            <div class="icon" ui-sref="Enquiry"><img src="img/icon/request.png" /></div>
                            <h2>الاستعلام عن رخصة</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>