<ion-view view-title="اجراءات تأسيس المنشأت الفردية" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper animated03 fadeInRightBig">
            <div class="Page-Inner-Padding-Top"></div>
            <h3>وصف الخدمة  :</h3>
            <p>
                الحصول على ترخيص بإنشاء شركة مساهمة عامة.
            </p>
            <h3>وقت تقديم الخدمة  :</h3>
            <p>
                خلال أوقات الدوام الرسمي لمراكز الخدمة
            </p>
            <h3>المستفيد من الخدمة :</h3>
            <p>
                شركات / مؤسسات
            </p>



            <div ng-model="expandmeGeneral">
                <div ng-click="expandmeGeneral=!expandmeGeneral">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> المستندات المطلوبة للرخص الجديدة بصورة عامة</h3>
                </div>
            </div>
            <div ng-show="expandmeGeneral" class="fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <ul class="Listdecimal">
                    <li>نسخة عن بطاقة الهوية و خلاصة قيد المواطن</li>
                    <li>نسخة عن جواز سفر اصحاب الترخيص. </li>
                    <li>تعبئة استمارة التسجيل و الترخيص التجاري ، تتوفر في الموقع الالكتروني للدائرة و في مراكز الخدمة. </li>
                    <li>نسخة عن صفحة الاقامة او تاشيرة الزيارة لغير مواطني دول مجلس التعاون الخليجي.</li>
                    <li>كتاب من دائرة المحاكم بعدم الممانعة من ممارسة التجارة لمن هم دون 21 سنة.</li>
                    <li>
                        موافقة الجهات الحكومية الاخرى على النشاط في حال تطلب الامر ذلك.
                        <br />
                        <h4>ملاحظة : بعد الحصول على الموافقة المبدئية و حجز الاسم التجاري : ايصال الموافقة المبدئية و جميع المستندات المقدمة سابقا يجب توفير المستندات التالية:-</h4>
                    </li>
                    <li>نسخة من شهادة توثيق عقد الايجار الصادرة من دائرة البلدية و التخطيط.</li>
                    <li>عقد التاسيس مصدقا حسب الاصول للشركات بانواعها. </li>
                    <li>عقد تعيين وكيل الخدمات مصدقا حسب الاصول للمؤسسات المهنية و الشركات المدنية المملوكة للمقيمين من غير مواطني دول مجلس التعاون الخليجي 100% و التي تتضمن وكيل خدمات محلي من دولة الامارات العربية المتحدة.</li>
                    <li>اي موافقات خارجية اخرى يتطلبها النشاط المراد مزاولتة.</li>
                </ul>
            </div>

            <div ng-model="expandme">
                <div ng-click="expandme=!expandme">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                </div>
            </div>
            <div ng-show="expandme" class="fadeInRightBig">
                <ul class="Listdisc">

                    <li>تعبئة طلب الترخيص على النموذج المخصص.</li>
                    <li>نسختين من عقد تأسيس الشركة ونظامها الاساسي موثق اصولا</li>
                    <li>عقد ايجار مستودع ان وجد.</li>
                    <li>مخطط الموقع + عقد ايجار او سند الملكية )يرجى التاكد من ملائمة الموقع للممارسة النشاط بواسطة  قسم التفتيش).</li>

                </ul>
            </div>


            <div ng-model="expandme4">
                <div ng-click="expandme4=!expandme4">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                </div>
            </div>
            <div ng-show="expandme4" class="fadeInRightBig">
                <ul class="Listdecimal">
                    <li>تعبئة نموذج طلب الترخيص</li>
                    <li>إرفاق المستندات المطلوبة</li>
                    <li>الحصول على الموافقة من إدارة الرقابة والتفتيش</li>
                    <li>حجز إسم تجاري</li>
                    <li>توفير الموافقات الخارجية</li>
                    <li>مراجعة كاونتر الاستشارات بمركز الخدمة واعتماده صحة البيانات</li>
                    <li>دفع الرسوم</li>
                    <li>استلام الترخيص</li>

                </ul>

            </div>





            <div ng-model="expandme5">
                <div ng-click="expandme5=!expandme5">
                    <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> الموافقات والاعتمادات المطلوبة من جهات خارجية</h3>
                </div>
            </div>
            <div ng-show="expandme5" class="fadeInRightBig">
                <ul class="Listdisc">
                    <li>البلدية (تصديق عقد الإيجار).</li>
                    <li>الدفاع المدني.</li>
                    <li>شركة إيمز ( على المناطق الصناعيات وجزء من النعيمية).</li>
                    <li>التسجيل في وزارة الاقتصاد.</li>
                    <li>موافقة الجهات الحكومية حسب النشاط (مرفق في سجل الموافقات بالدليل).</li>

                </ul>

                <h4>النماذج المتعلقة بطلب الخدمة</h4>
                <p>طلب ترخيص  EA-1-1-F1</p>
                <h4>القسم المعني بتقديم الخدمة</h4>
                <p>قسم التراخيص الاقتصادية</p>

            </div>


        </div>
        </ion-content>
    </ion-view>