<head>
    <meta charset="utf-8">
</head>
<ion-view dir="rtl" view-title="التشريعات الاقتصادية">
    <ion-content class="content">
        <div class="Page-Inner-Padding-Top"></div>
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>

            <h4>القـوانـيـن التـجـارية في دولـة الإمارات</h4>
            <div class="Page-Inner-Padding-Top"></div>

            <div class="VerticalListBlock2">
                <ul>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2015.pdf', '_system', 'location=yes'); return false;">
                            <h2 class="ButtonTitle">قانون اتحادي رقم 2 لسنة 2015 في شان الشركات التجارية </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2014.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                               قانون اتحادي رقم 2 لسه 2014 في شأن المشاريع الصغيرة والمتوسطة
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2012.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون اتحادي رقم 4 لسنة 2012 في شان تنظيم المنافسة</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/Ministerial%20Decision%20-%20518%20of%202009.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قرار وزارى رقم -  518 لسنة 2009
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%2013%20%D9%84%D8%B3%D9%86%D8%A9%202007%20%D8%A8%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D8%B3%D9%84%D8%B9%20%D8%A7%D9%84%D8%AE%D8%A7%D8%B6%D8%B9%D8%A9%20%D9%84%D8%B1%D9%82%D8%A7%D8%A8%D8%A9%20%D8%A7%D9%84%D8%A5%D8%B3%D8%AA%D9%8A%D8%B1%D8%A7%D8%AF%20%D9%88%D8%A7%D9%84%D8%AA%D8%B5%D8%AF%D9%8A%D8%B1.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 13 لسنة 2007 بشأن السلع الخاضعة لرقابة الإستيراد والتصدير
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2006a.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 31 لسنة 2006 بشأن حماية الملكية الصناعية
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2006.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون اتحادي  رقم 24 لسنة 2006 بشأن حماية المستهلك</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%201%20%D9%84%D8%B3%D9%86%D8%A9%202006%20%D8%A7%D9%84%D9%85%D8%B9%D8%A7%D9%85%D9%84%D8%A7%D8%AA%20%D9%88%D8%A7%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D8%A9%20%D8%A7%D9%84%D8%A7%D9%84%D9%83%D8%AA%D8%B1%D9%88%D9%86%D9%8A%D8%A9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                               قانون اتحادي رقم 1 لسنه 2006 بشأن المعاملات والتجارة الالكترونية
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2004a.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون مكافحة التستر التجاري رقم 17 لعام 2004</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2004.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون الرقابة على استيراد وتصدير وعبور الماس الخام رقم 13 لعام 2004</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%208%20%D9%84%D8%B3%D9%86%D8%A9%202004%20%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D9%85%D9%86%D8%A7%D8%B7%D9%82%20%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A%D8%A9%20%D8%A7%D9%84%D8%AD%D8%B1%D8%A9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 8 لسنة 2004 في شأن المناطق المالية الحرة
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%204%20%D9%84%D8%B3%D9%86%D8%A9%202002%20%D8%AA%D8%AC%D8%B1%D9%8A%D9%85%20%D8%BA%D8%B3%D9%84%20%D8%A7%D9%84%D8%A3%D9%85%D9%88%D8%A7%D9%84.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 4 لسنة 2002 تجريم غسل الأموال
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2002.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون اتحادي رقم 17 لعام 2002 بشأن تنظيم وحماية الملكية الصناعية لبراءات الاختراع و الرسوم والنماذج الصناعية </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/2002a.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون حقوق المؤلف و الحقوق المجاورة رقم 7 لعام 2002</h2>
                        </a>
                    </li>

                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%204%20%D9%84%D8%B3%D9%86%D8%A9%202000%20%D8%A8%D8%B4%D8%A3%D9%86%20%D9%87%D9%8A%D8%A6%D8%A9%20%D8%A7%D9%84%D8%A3%D9%88%D8%B1%D8%A7%D9%82%20%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A%D8%A9%20%D9%88%D8%A7%D9%84%D8%B3%D9%84%D8%B9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 4 لسنة 2000 بشأن هيئة الأوراق المالية والسلع
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%2022%20%D9%84%D8%B3%D9%86%D8%A9%201995%20%D8%AA%D9%86%D8%B8%D9%8A%D9%85%20%D9%85%D9%87%D9%86%D8%A9%20%D9%85%D8%AF%D9%82%D9%82%D9%8A%20%D8%A7%D9%84%D8%AD%D8%B3%D8%A7%D8%A8%D8%A7%D8%AA.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 22 لسنة 1995 تنظيم مهنة مدققي الحسابات
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1993.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                            قانون اتحادي رقم 9 لسنة 1993 في شأن الرقابة على الاتجار في الأحجار ذات القينة والمعادن الثمينة ودمغها
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%2018%20%D9%84%D8%B3%D9%86%D8%A9%201993%20%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D9%85%D8%B9%D8%A7%D9%85%D9%84%D8%A7%D8%AA%20%D8%A7%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D9%8A%D8%A9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 18 لسنة 1993 في شأن المعاملات التجارية
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1992b.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون براءات الاختراع و النماذج الصناعية الاماراتي رقم 44 لعام 1992</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%2037%20%D9%84%D8%B3%D9%86%D8%A9%20%201992%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D8%B9%D9%84%D8%A7%D9%85%D8%A9%20%D8%A7%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D9%8A%D8%A9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 37 لسنة  1992  في شأن العلامة التجارية
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%208%20%D9%84%D8%B3%D9%86%D8%A9%201984%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D8%B4%D8%B1%D9%83%D8%A7%D8%AA%20%D8%A7%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D9%8A%D8%A9.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 8 لسنة 1984 في شأن الشركات التجارية
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1981.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون اتحادي رقم 18 لسنة 1981 بشأن تنظيم الوكالات التجارية</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%2010%20%D9%84%D8%B3%D9%86%D8%A9%201980%20%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%A7%D9%84%D9%85%D8%B5%D8%B1%D9%81%20%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2%D9%8A.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 10 لسنة 1980 في شأن المصرف المركزي
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Business_Laws_in_UAE/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D8%AA%D8%AD%D8%A7%D8%AF%D9%8A%20%D8%B1%D9%82%D9%85%208%20%D9%84%D8%B3%D9%86%D8%A9%201980%20%D8%A8%D8%B4%D8%A3%D9%86%20%D8%AA%D9%86%D8%B8%D9%8A%D9%85%20%D8%B9%D9%84%D8%A7%D9%82%D8%A7%D8%AA%20%D8%A7%D9%84%D8%B9%D9%85%D9%84.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 8 لسنة 1980 بشأن تنظيم علاقات العمل
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1979.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون إتحادي رقم 1 لسنة 1979 في شأن تنظيم شئون الصناعة</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1979a.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">
                                قانون اتحادي رقم 4 لسنة 1979 في شأن قمع الغش والتدليس في المعاملات التجارية
                                
                            </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1975.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون اتحادي رقم 5 لنسة 1975 في شأن السجل التجاري </h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/consumer_law/1973.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون السجل التجاري رقم 5 لسنة 1973</h2>
                        </a>
                    </li>
                </ul>
            </div>


            <h4>التـشريعات الاقـتصادية المـحلية</h4>
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2">
                <ul>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Local_Business_Laws/a.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون رقم (1) لسنة 1993 بشأن ممارسة الإعمال الاقتصادية أو المهنية أو الحرفية لغير مواطني الدولة في إمارة عجمان</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Local_Business_Laws/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%B1%D9%82%D9%85%202%20%D9%84%D8%B3%D9%86%D8%A9%201991%20%D8%A8%D8%B4%D8%A3%D9%86%20%D8%AA%D8%B1%D8%AE%D9%8A%D8%B5%20%D8%A7%D9%84%D9%85%D9%87%D9%86%D9%8A%D9%8A%D9%86%20%D9%88%D8%A7%D9%84%D8%AD%D8%B1%D9%81%D9%8A%D9%8A%D9%86%20%D9%85%D9%86%20%D8%BA%D9%8A%D8%B1%20%D8%A7%D9%84%D9%85%D9%88%D8%A7%D8%B7%D9%86%D9%8A%D9%86%20%D9%81%D9%8A%20%D8%A5%D9%85%D8%A7%D8%B1%D8%A9%20%D8%B9%D8%AC%D9%85%D8%A7%D9%86.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون رقم 2 لسنة 1991 بشأن ترخيص المهنيين والحرفيين من غير المواطنين في إمارة عجمان</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Local_Business_Laws/%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D9%84%D8%B1%D8%AE%D8%B5%20%D8%A7%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D9%8A%D8%A9%20%D9%84%D8%B9%D8%A7%D9%85%201985.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قانون الرخص التجارية لعام 1985</h2>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.ajmanded.ae/ar/Doc/Local_Business_Laws/%D9%82%D8%B1%D8%A7%D8%B1%20%D8%B1%D9%82%D9%85%207%20%D9%84%D8%B3%D9%86%D8%A9%201983%D9%81%D9%8A%20%D8%B4%D8%A3%D9%86%20%D8%AA%D8%B1%D8%A7%D8%AE%D9%8A%D8%B5%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AB%D9%85%D8%A7%D8%B1%20%D9%81%D9%8A%20%D8%A5%D9%85%D8%A7%D8%B1%D8%A9%20%D8%B9%D8%AC%D9%85%D8%A7%D9%86.pdf', '_system', 'location=yes'); return false;">

                            <h2 class="ButtonTitle">قرار رقم 7 لسنة 1983في شأن تراخيص الاستثمار في إمارة عجمان</h2>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </ion-content>
</ion-view>