<ion-view dir="rtl" view-title="تجديد رخصة">
    <ion-content class="content">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="IndividualInstitution_renew">المؤسسة الفردية</h2>
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Company-with-limited-liability_renew">الشركة ذات مسؤولية محدودة</h2>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Corporate-solidarity_renew">الشركات التضامنية</h2>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Private-joint-StockCompanies_renew">شركات المساهمة الخاصة </h2>
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Public-joint-StockCompanies_renew">شركات المساهمة العامة </h2>
                    </li>
                    <li class="animated05 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Civil-Works-Companies_renew">شركات الاعمال المدنية ووكيل خدمات</h2>
                    </li>
                    <li class="animated06 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-Gulf-Companies_renew">فروع الشركات الخليجية</h2>
                    </li>
                    <li class="animated07 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-foreign-Companies_renew">فروع الشركات الأجنبية</h2>
                    </li>
                    <li class="animated08 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="Branches-of-companies-from-Another-Emirate_renew">فروع الشركات من امارة اخرى</h2>
                    </li>
                    <li class="animated09 fadeInRightBig">
                        <h2 class="ButtonTitle" ui-sref="The-establishment-of-institutions-branch-actions_renew"> إجراءات تأسيس فروع المؤسسات</h2>
                    </li>
                </ul>
                </div>
            </div>
    </ion-content>
</ion-view>