<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="التجديد" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <div class="TAC"><img src="img/icon/renew.png" /></div>
                <div style="height: 1em"></div>
                <p>تسعى دائرة التنمية الإقتصادية – عجمان على تسهيل خدمات المستثمرين وتحسين إجراءات العمل. من هذا المنطلق سيتمكن صاحب الرخصة الإقتصادية من تقديد وإتمام تجديد الرخصة الإقتصادية عبر الهاتف الذكي ودفع الرسوم وإستلام نسخة رقمية من الرخصة الإقتصادية بعد التجديد بدون مراجعة الدائرة عبر هاتفه النقال.</p>
                <div style="height: 1em"></div>
                <div style="height: 1em"></div>
                <div class="MyButton" ui-sref="LicenseRenewal">التجديد</div>
            </div>


        </ion-content>
    </ion-view>
</body>
</html>