<ion-view view-title="دليل الخدمات" dir="rtl">
    <ion-content class="content" onscroll="false">
        <div class="Wrapper">
            <div class="Page-Inner-Padding-Top"></div>
            <div style="height: 2em"></div>
            <div style="height: 2em"></div>
            <div class="HorisontalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="createPermit"><img src="img/ServicesGuide/New.png" /></div>
                        <h2>إصدار رخصة</h2>
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="createPermit"><img src="img/ServicesGuide/Renew.png" /></div>
                        <h2>تجديد الرخصة</h2>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <div class="icon" ui-sref="createPermit"><img src="img/ServicesGuide/Update.png" /></div>
                        <h2>تعديل الرخصة</h2>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <div class="icon" ui-sref="createPermit"><img src="img/ServicesGuide/Delete.png" /></div>
                        <h2>إلغاء الرخصة</h2>
                    </li>
                </ul>
            </div>
        </div>

        </ion-content>
    </ion-view>