<ion-view view-title="دليل الخدمات" dir="rtl">
    
     <ion-content class="content">
            <div class="Wrapper">
                <div class="Page-Inner-Padding-Top"></div>

                <div class="VerticalListBlock2">
                    <ul>
                        <li class="animated fadeInRightBig">
                            <div class="icon" ui-sref="createPermit"><img src="img/ServicesGuide/New.png" /></div>
                              <h2>إصدار رخصة</h2>
                        </li>
                        <li class="animated01 fadeInRightBig">
                            <div class="icon" ui-sref="renewPermit"><img src="img/ServicesGuide/Renew.png" /></div>
                            <h2>تجديد رخصة</h2>
                        </li>
                        <li class="animated02 fadeInRightBig">
                             <div class="icon" ui-sref="cancelPermit"><img src="img/ServicesGuide/Delete.png" /></div>
                             <h2>إلغاء الرخصة</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-view>