<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="خدمات التراخيص" dir="rtl">
    <ion-content scroll="false" class="content">

        <div class="Wrapper">
            <div class="VerticalListBlock2">
                <ul>
                    <li class="animated fadeInRightBig">
                        <div class="icon" ui-sref="issuancePermit"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>طلب اصدار رخصة جديدة</h2>
                    </li>
                    <li class="animated01 fadeInRightBig">
                        <div class="icon" ui-sref="cancelBusinessCompany"><img src="img/icon/ourservices/icon_ser21.png" /></div>
                        <h2>إلغاء شركة اعمال</h2>
                    </li>
                    <li class="animated02 fadeInRightBig">
                        <div class="icon" ui-sref="cancelCompany"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>الغاء شركات</h2>
                    </li>
                    <li class="animated03 fadeInRightBig">
                        <div class="icon"><img src="img/icon/ourservices/icon_ser7.png" /></div>
                        <h2>الغاء مؤسسات</h2>
                    </li>
                    <li class="animated04 fadeInRightBig">
                        <div class="icon"><img src="img/icon/ourservices/comcancel.png" /></div>
                        <h2>الغاء وكيل خدمات</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_estcancel.png" /></div>
                        <h2>إصدار رخصة شركة أعمال  </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_seragntcancel.png" /></div>
                        <h2>طلب إصدار رخصة تضامنية </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser23.png" /></div>
                        <h2>إصدار رخصة ذات مسؤولية محدودة</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser19.png" /></div>
                        <h2>إصدار رخصة وكيل خدمات</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser11.png" /></div>
                        <h2>اصدار رخصة  فرع شركة أجنبية </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser6.png" /></div>
                        <h2>تجديد رخصة شركة تضامنية</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser13.png" /></div>
                        <h2>تجديد شركة ذات مسؤولية محدودة</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser2.png" /></div>
                        <h2>تجديد رخصة وكيل خدمات</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser5.png" /></div>
                        <h2>طلب إضافة شريك لرخصة قائمة</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser5.png" /></div>
                        <h2>طلب اضافة نشاط أو تغيير نشاط على رخصة قائمة</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser17.png" /></div>
                        <h2>طلب إصدار رخصة جديدة - مؤسسة فردية</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser3.png" /></div>
                        <h2>طلب اصدار رخصة جديدة - شركة مساهمة عامة خاصة </h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_loc.png" /></div>
                        <h2>طلب تجديد رخصة شركة اعمال</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser20.png" /></div>
                        <h2>طلب بدل فاقد للرخص السارية فقط</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser2.png" /></div>
                        <h2>طلب ادخال تغيير مدير</h2>
                    </li>
                    <li>
                        <div class="icon"><img src="img/icon/ourservices/icon_ser9.png" /></div>
                        <h2>تغيير الاسم التجاري</h2>
                    </li>
                </ul>
            </div>
        </div>


    </ion-content>
</ion-view>