<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="دليل الأنشطة" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>الاشتراطات الخاصة بلوحات الاسماء التجارية وأنواعها</h1>

                <ul class="VerticalList01">
                    <li>» &nbsp; تقدم طلبات اللوحات الاعلانية عن طريق ( الخطاطين ) المسجلين بالإمارة فقط</li>
                    <li>» &nbsp; الالتزام بالنموذج المخصص للوحات الاعلانية وتسجيل كافة بيانات ومقاسات اللوحة وأبعادها مع ضرورة وضع رسم توضيحي للوحة</li>
                    <li>» &nbsp; مراعاة تناسق اللوحة للوحات المحلات المجاورة في نفس المبنى و المباني المجاورة من حيث المساحات والاطوال والبروز حفاظا على المنظر الجمالي العام للأمارة.</li>
                    <li>» &nbsp; لا تتعدى المساحة الكلية للوحة الاعلانية عن واجهة المحل</li>
                    <li>» &nbsp; عدم بروز اللوحة من جميع جوانبها بزيادة الحجم.</li>
                    <li>» &nbsp; مراعاة الكتابة بلغة عربية صحيحة بعيدة عن الاخطاء الاملائية واللغوية.</li>
                    <li>» &nbsp; استخدام اللغة العربية إجباري في اللوحات الاعلانية بنسبة لا تقل عن 50% مع مراعاة أن تكون في الجهة اليمنى من اللوحة.</li>
                    <li>» &nbsp; الالتزام بالاسم التجاري الوارد بالرخصة الاقتصادية.</li>
                    <li>» &nbsp; عدم تثبيت اللوحة الاعلانية للمحل إلا بعد أخذ الموافقة من الدائرة.</li>
                    <li>» &nbsp; مراعاة الاعلان للآداب العامة والتعاليم الاسلامية. </li>
                    <li>» &nbsp; إبراز موافقة وكيل العلامة التجارية في حالة وجود إعلان ضمن اللوحة.</li>
                    <li>» &nbsp; تعهد من الشركة المنفذة للوحة الاسم التجاري بالالتزام بكافة الشروط الملزمة وفي حالة الاخلال بها يتعرض للمخالفة.</li>
                    <li>» &nbsp; يحق للدائرة إزالة اللوحة الاعلانية عن طريق شركة متخصصة على نفقة صاحب المنشأة في حالة عدم مطابقتها للمواصفات المعتمدة وذلك بعد مهلة أقصاها 15 يوم.</li>
                    <li>» &nbsp; يتوجب تقديم طلب تصريح جديد في حالة تغيير الموقع مع ضرورة ازالة اللوحة القديمة.</li>
                    <li>» &nbsp; يتوجب تقديم طلب تصريح جديد في حالة تغيير الاسم التجاري مع ضرورة ازالة اللوحة القديمة وعدم الكتابة عليها.</li>
                    <li>» &nbsp; في حالة الغاء الرخصة يتوجب على صاحب المنشأة ازالة اللوحة وابراز صورة لواجهة المحل قبل وبعد الازالة.</li>
                    <li>» &nbsp; في حالة عدم الرغبة بتجديد التصريح على الشركة ازالة اللوحة وإخطار الدائرة بذلك.</li>
                    <li>» &nbsp; اللوحات على الواجهة الزجاجية للمحلات لا تتعدى 50% من مساحة الواجهة مع مراعاة وضوح الرؤية.</li>
                </ul>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>