<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ion-view view-title="دليل الأنشطة" dir="rtl">
        <ion-content class="content">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h1>الاشتراطات الخاصة لمزاولة الانشطة الاقتصادية</h1>

                <div ng-model="expandme">
                    <div ng-click="expandme=!expandme">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> المكاتب العقارية</h3>
                    </div>
                </div>
                <div ng-show="expandme" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; الحصول على موافقة دائرة الاراضي و الاملاك</li>
                        <li>» &nbsp; لا تقل مساحة المكتب عن 60 متر مربع</li>
                        <li>» &nbsp; أن يكون المكتب على الواجهة ( شارع رئيسي أو ضمن مبنى مكاتب )</li>
                    </ul>
                </div>


                <div ng-model="expandme02">
                    <div ng-click="expandme02=!expandme02">
                        <h3 class="CollapsTitle animated01 fadeInRightBig"><i class="ion-ios-arrow-down"></i> مكاتب التطوير العقاري</h3>
                    </div>
                </div>
                <div ng-show="expandme02" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; الحصول على موافقة دائرة التنظيم العقاري.</li>
                        <li>» &nbsp; لا تقل مساحة المكتب عن 100 متر مربع</li>
                        <li>» &nbsp; أن يكون المكتب على الواجهة ( شارع رئيسي أو ضمن مبنى مكاتب )</li>
                    </ul>
                </div>

                <div ng-model="expandme03">
                    <div ng-click="expandme03=!expandme03">
                        <h3 class="CollapsTitle animated02 fadeInRightBig"><i class="ion-ios-arrow-down"></i> مكاتب مقاولات البناء و الاستشارات الهندسية</h3>
                    </div>
                </div>
                <div ng-show="expandme03" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; الحصول على موافقة دائرة البلدية والتخطيط ( قطاع الشؤون الهندسية )</li>
                        <li>» &nbsp; لا تقل مساحة المكتب عن 100متر مربع</li>
                    </ul>
                </div>


                <div ng-model="expandme04">
                    <div ng-click="expandme04=!expandme04">
                        <h3 class="CollapsTitle animated03 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  محال بيع اسطوانات الغاز</h3>
                    </div>
                </div>
                <div ng-show="expandme04" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; الحصول على موافقة إدارة الدفاع المدني</li>
                        <li>» &nbsp; لا تقل مساحة المكتب عن 60 متر مربع </li>
                        <li>» &nbsp; توفير مستودع خاص بالأسطوانات أو التعاقد مع مصانع التعبئة وابراز صورة من رسالة المصنع</li>
                        <li>» &nbsp; عدم القيام بممارسة نشاط التعبئة في المحل او المستودع ويتوجب التعبئة في موقع مصنع التعبئة فقط</li>
                        <li>» &nbsp; يمنع جلب الاسطوانات من إمارة اخرى</li>
                        <li>» &nbsp; الالتزام بلائحة الاسعار المعلنة في وزارة الاقتصاد</li>
                    </ul>
                </div>


                <div ng-model="expandme05">
                    <div ng-click="expandme05=!expandme05">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  أنشطة كراجات السيارات وورش الصيانة العامة للمركبات ( صبغ وسمكرة – اصلاح ميكانيكي – اصلاح هياكل المركبات )</h3>
                    </div>
                </div>
                <div ng-show="expandme05" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يتم ترخيص المنشآت في المناطق الصناعية فقط</li>
                        <li>» &nbsp; لا تقل مساحة المحل 100متر مربع للنشاط الواحد ويستلزم توفير نفس المساحة في حالة إضافة نشاط اخر  </li>
                        <li>» &nbsp; عد ممارسة النشاط خارج نطاق المحل</li>
                        <li>» &nbsp; توفير مساحة مسورة أو شبرة بمساحة لا تقل عن 300 متر مربع لأنشطة الورش العامة لصيانة السيارات</li>
                        <li>» &nbsp; الالتزام بالأنشطة الواردة بالترخيص و يتطلب مراجعة الدائرة في حالة الرغبة بإضافة أنشطة أخرى</li>
                    </ul>
                </div>


                <div ng-model="expandme06">
                    <div ng-click="expandme06=!expandme06">
                        <h3 class="CollapsTitle animated04 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  تجارة الإطارات و اصلاحها</h3>
                    </div>
                </div>
                <div ng-show="expandme06" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يتم ترخيص المنشآت في المناطق الصناعية فقط</li>
                        <li>» &nbsp; لا تقل مساحة المحل 100متر مربع للنشاط الواحد ويستلزم توفير ضعف المساحة في حالة ممارسة النشاطين معا</li>
                        <li>» &nbsp; في حالة وجود رافعة هيدروليكية في المحل يتوجب مراعاة ارتفاع السقف</li>
                        <li>» &nbsp; عد ممارسة النشاط خارج نطاق المحل</li>
                    </ul>
                </div>



                <div ng-model="expandme07">
                    <div ng-click="expandme07=!expandme07">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  تجارة قطع غيار السيارات والاليات و المعدات الثقيلة الجديدة</h3>
                    </div>
                </div>
                <div ng-show="expandme07" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يسمح بمزاولة النشاط في المناطق الصناعية فقط</li>
                        <li>» &nbsp; لا تقل المساحة عن 500 متر مربع او توفير مستودع لقطع الغيار وفي حالة التعاقد مع وكالات السيارات ضرورة </li>
                        <li>» &nbsp; عدم ممارسة نشاط التبديل و الاصلاح مالم يتم توفير موقع لمزاولة النشاط الاضافي وذلك بعد موافقة الدائرة.</li>
                        <li>» &nbsp; عدم وضع الاغراض خارج المحل.</li>
                    </ul>
                </div>



                <div ng-model="expandme08">
                    <div ng-click="expandme08=!expandme08">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  اشتراطات انشطة الورش الصناعية ( مشاغل الحدادة واللحام و الالمنيوم و الزجاج و المطابخ)</h3>
                    </div>
                </div>
                <div ng-show="expandme08" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يتم ترخيص المنشآت في المناطق الصناعية فقط.</li>
                        <li>» &nbsp; يمنع العمل خارج نطاق الورشة وعدم وضع الاغراض خارج نطاق المنشأة.</li>
                        <li>» &nbsp; أنشطة اصلاح المعدات الثقيلة لا تقل مساحة الموقع عن 500 متر مربع.</li>
                        <li>» &nbsp; الالتزام بتسليم فاتورة التسليم للمستهلك والالتزام بتسليم الطلبات في الوقت المحدد والضمان</li>
                    </ul>
                </div>



                <div ng-model="expandme09">
                    <div ng-click="expandme09=!expandme09">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  محطة غسيل سيارات</h3>
                    </div>
                </div>
                <div ng-show="expandme09" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; لا تقل المساحة عن 1500 متر مربع</li>
                        <li>» &nbsp; توفير مخطط هندسي معتمد من مكاتب الاستشارات الهندسية</li>
                        <li>» &nbsp; ضرورة فصل بوابة الدخول و الخروج للسيارات</li>
                        <li>» &nbsp; توفير مواقف للسيارات وعدم ركن السيارات في الأماكن العامة </li>
                    </ul>
                </div>



                <div ng-model="expandme010">
                    <div ng-click="expandme010=!expandme010">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  غسيل يدوي للسيارات</h3>
                    </div>
                </div>
                <div ng-show="expandme010" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يرخص في المناطق الصناعية فقط </li>
                        <li>» &nbsp; لا تقل المساحة عن 100 متر مربع</li>
                        <li>» &nbsp; عدم تواجد أكثر من محل غسيل سيارات في نفس المنطقة </li>
                        <li>» &nbsp; توفير مواقف للسيارات وعدم ركن السيارات في الأماكن العامة </li>
                    </ul>
                </div>



                <div ng-model="expandme011">
                    <div ng-click="expandme011=!expandme011">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> تجارة الأثاث المستعمل </h3>
                    </div>
                </div>
                <div ng-show="expandme011" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يتم الترخيص في المناطق الصناعية فقط</li>
                        <li>» &nbsp; لا تقل المساحة عن 100 متر مربع</li>
                        <li>» &nbsp; يمنع وضع الأغراض خارج نطاق المحل</li>
                        <li>» &nbsp; يمنع تكديس البضاعة في المحل</li>
                        <li>» &nbsp; ضرورة توفير مستودع</li>
                        <li>» &nbsp; ضرورة توفير فاتورة البيع والشراء</li>
                    </ul>
                </div>



                <div ng-model="expandme012">
                    <div ng-click="expandme012=!expandme012">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> تجارة الأجهزة الكهربائية المنزلية المستعملة </h3>
                    </div>
                </div>
                <div ng-show="expandme012" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يتم الترخيص في المناطق الصناعية فقط</li>
                        <li>» &nbsp; لا تقل المساحة عن 80 متر مربع</li>
                        <li>» &nbsp; يمنع وضع الأغراض خارج المحل</li>
                        <li>» &nbsp; يمنع تكديس البضاعة داخل المحل</li>
                        <li>» &nbsp; ضرورة توفير فاتورة البيع و الشراء</li>
                    </ul>
                </div>



                <div ng-model="expandme013">
                    <div ng-click="expandme013=!expandme013">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> محال ( الخياطة و التطريز – النسائية – الملابس النسائية – العباءات ) </h3>
                    </div>
                </div>
                <div ng-show="expandme013" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; ضرورة الالتزام مع الزبائن بإنجاز المطلوب في الوقت المحدد</li>
                        <li>» &nbsp; توفير عمالة نسائية</li>
                        <li>» &nbsp; توفير غرف للقياس</li>
                        <li>» &nbsp; عدم تثبيت كاميرات مراقبة </li>
                        <li>» &nbsp; توفير صورة من نموذج الخياطة على الفاتورة</li>
                    </ul>
                </div>



                <div ng-model="expandme014">
                    <div ng-click="expandme014=!expandme014">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  استوديو التصوير الفوتوغرافي</h3>
                    </div>
                </div>
                <div ng-show="expandme014" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; توفير عمالة نسائية في حالة وجود تصوير للعائلات والنساء</li>
                        <li>» &nbsp; لا تقل مساحة المحل عن 50 متر مربع</li>
                        <li>» &nbsp; أن يكون المحل بالطابق الارضي ولا يسمح بالشقق</li>

                    </ul>
                </div>



                <div ng-model="expandme015">
                    <div ng-click="expandme015=!expandme015">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> الصالونات النسائية </h3>
                    </div>
                </div>
                <div ng-show="expandme015" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يسمح بمزاولة النشاط في المحلات الارضية وجميع المحلات في المراكز التجارية والفلل في المناطق التجارية</li>
                        <li>» &nbsp; لا تقل المساحة عن 50 متر مربع </li>
                        <li>» &nbsp; تثبيت لائحة الاسعار الخاصة بالصالون ووضعها في مكان بارز وعدم اجراء أي تغيير الا بعد الحصول على الموافقة من الدائرة</li>
                        <li>» &nbsp; يستلزم الحصول على ترخيص مزاولة نشاط التدليك</li>
                    </ul>
                </div>



                <div ng-model="expandme016">
                    <div ng-click="expandme016=!expandme016">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> الصالونات الرجالية </h3>
                    </div>
                </div>
                <div ng-show="expandme016" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; يسمح بمزاولة النشاط في المحلات الارضية فقط فيما عدا المراكز التجارية فيسمح بجميع الاماكن</li>
                        <li>» &nbsp; لا تقل مساحة المحل عن 30 متر مربع</li>
                        <li>» &nbsp; تثبيت لائحة الاسعار الخاصة بالصالون ووضعها في مكان بارز  وعدم اجراء أي تغيير الا بعد الحصول على الموافقة من الدائرة</li>

                    </ul>
                </div>



                <div ng-model="expandme017">
                    <div ng-click="expandme017=!expandme017">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  نوادي اللياقة الرجالية والنسائية</h3>
                    </div>
                </div>
                <div ng-show="expandme017" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; لا تقل مساحة المحل عن 300 متر مربع</li>
                        <li>» &nbsp; التواجد في المحلات الارضية والشقق في البنايات التجارية والمراكز التجارية</li>
                        <li>» &nbsp; توفير غرف لتبديل الملابس وخزائن ملابس</li>
                        <li>» &nbsp; يتوجب الحصول على تصريح من الدائرة في حالة وجود مكائن البيع الالي ( شاي – قهوة ) او أي منتجات أخرى</li>
                        <li>» &nbsp; لا يسمح بإضافة نشاط تجارة الأغذية الصحية </li>

                    </ul>
                </div>



                <div ng-model="expandme018">
                    <div ng-click="expandme018=!expandme018">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  مقاهي الانترنت</h3>
                    </div>
                </div>
                <div ng-show="expandme018" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; التواجد في الشوارع الرئيسية في الدور الارضي وفي المناطق التجارية فقط</li>
                        <li>» &nbsp; لا تقل مساحة المحل عن 50 متر مربع</li>
                        <li>» &nbsp; يمنع الكبائن المغلقة </li>
                        <li>» &nbsp; يمنع تظليل الواجهة الامامية للمحل</li>


                    </ul>
                </div>



                <div ng-model="expandme019">
                    <div ng-click="expandme019=!expandme019">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  مراكز تدليك و استرخاء نسائي</h3>
                    </div>
                </div>
                <div ng-show="expandme019" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; المحافظة على الآداب والأخلاق العامة </li>
                        <li>» &nbsp; ارتداء (زي موحد) للعاملين بالمركز</li>
                        <li>» &nbsp; لا يسمح للرجال بالتواجد أو القيام بتدليك النساء</li>
                        <li>» &nbsp; أوقات العمل من الساعة 6 صباحاً الى الساعة 12 ليلاً ما لم يكن هناك تصريح بالعمل لساعات إضافية</li>
                        <li>» &nbsp; يجب ان لا تحتوي غرف المساج على اقفال وان يتم تركيب قطعة زجاجية شفافة في الباب من الأعلى</li>
                        <li>» &nbsp; عـدم وضع كاميرات تصوير مع الالتزام بالمحافظـة على سرية وخصوصية الزبائن </li>
                        <li>» &nbsp; أن لاتقل مساحة المحل عن 100 متر مربع </li>
                        <li>» &nbsp; أن لاتقل مساحة غرفة المساج عن 6 متر مربع </li>
                    </ul>
                </div>



                <div ng-model="expandme020">
                    <div ng-click="expandme020=!expandme020">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> مركز تدليك واسترخاء رجالي </h3>
                    </div>
                </div>
                <div ng-show="expandme020" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; المحافظة على الآداب والأخلاق العامة.</li>
                        <li>» &nbsp; ارتداء (زي موحد) للعاملين بالمركز</li>
                        <li>» &nbsp; لا يسمح للنساء بالتواجد أو القيام بتدليك الرجال</li>
                        <li>» &nbsp; الالتزام بتوفير الزي المناسب لاستخدام الزبائن اثناء تقديم خدمة التدليك</li>
                        <li>» &nbsp; أوقات العمل من الساعة 6 صباحاً الى الساعة 12 ليلاً ما لم يكن هناك تصريح بالعمل لساعات إضافية</li>
                        <li>» &nbsp; يجب ان لا تحتوي غرف المساج على اقفال وان يتم تركيب قطعة زجاجية شفافة في الباب من الأعلى</li>
                        <li>» &nbsp; عـدم وضع كاميرات تصوير مع الالتزام بالمحافظـة على سرية وخصوصية الزبائـن</li>
                        <li>» &nbsp; أن لاتقل مساحة المحل عن 100 متر مربع </li>
                        <li>» &nbsp; أن لاتقل مساحة غرفة المساج عن 6 متر مربع</li>

                    </ul>
                </div>


                <div ng-model="expandme021">
                    <div ng-click="expandme021=!expandme021">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i>  مقهى مشمول بالشيشة</h3>
                    </div>
                </div>
                <div ng-show="expandme021" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; أوقات العمل من الساعة 6 صباحاً الى الساعة 12 ليلاً ما لم يكن هناك تصريح بالعمل لساعات إضافيـة.</li>
                        <li>» &nbsp; عدم وضع وسائل التظليل لواجهات الموقع والتي من شأنها حجب الرؤية والإضاءة مما يعوق الجهات الرقابية من متابعتها عن بعد على أن تكون واجهة المحل الأماميـة زجاجيـة وشفافـة</li>
                        <li>» &nbsp; عدم وجود كبائن أو غرف مغلقة</li>
                        <li>» &nbsp; عـدم استخدام مكبرات صوتية أو أجهزة أو أي وسيلة من شأنهـا إحـداث إزعاج وضوضاء</li>
                        <li>» &nbsp; عدم استغلال المناسبات وفرض رسوم إضافية على الزبائن</li>

                    </ul>
                </div>


                <div ng-model="expandme022">
                    <div ng-click="expandme022=!expandme022">
                        <h3 class="CollapsTitle animated05 fadeInRightBig"><i class="ion-ios-arrow-down"></i> صالة الألعاب الإلكترونية </h3>
                    </div>
                </div>
                <div ng-show="expandme022" class="animated01010 fadeInRightBig">
                    <ul class="VerticalList01">
                        <li>» &nbsp; أوقات العمل من الساعة 6 صباحاً الى الساعة 12 ليلاً ما لم يكن هناك تصريح بالعمل لساعات إضافية</li>
                        <li>» &nbsp; عدم وضع وسائل التظليل لواجهات الموقع والتي من شأنها حجب الرؤية والإضاءة مما يعوق الجهات الرقابيـة من متابعتها عن بعد </li>
                        <li>» &nbsp; على أن تكون واجهة المحل الأمامية زجاجيـة وشفافة</li>
                        <li>» &nbsp; عدم مزاولة الالعاب التي يغلب عليها الحظ(المقامرة) أو مخلة بالآداب أو أية تصرفات مسيئة</li>
                        <li>» &nbsp; عدم وجود كبائن أو غرف مغلقة</li>
                        <li>» &nbsp; يحظر دخول الاطفال الاقل من (10) أعوام إلا بوجود مرافق </li>

                    </ul>
                </div>

            </div>
        </ion-content>
    </ion-view>
</body>
</html>