<ion-view view-title="  اجراءات تأسيس فروع المؤسسات" dir="rtl">
    <ion-content class="content" onscroll="false">
        <ion-content class="content" onscroll="false">
            <div class="Wrapper animated03 fadeInRightBig">
                <div class="Page-Inner-Padding-Top"></div>
                <h3>وصف الخدمة  :</h3>
                <p>
                    الحصول على ترخيص بإنشاء فروع المؤسسات
                </p>
                <h3>وقت تقديم الخدمة  :</h3>
                <p>
                    خلال أوقات الدوام الرسمي لمراكز الخدمة
                </p>
                <h3>المستفيد من الخدمة :</h3>
                <p>
                    شركات / مؤسسات
                </p>



                <div ng-model="expandmeGeneral">
                    <div ng-click="expandmeGeneral=!expandmeGeneral">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> المستندات المطلوبة للرخص الجديدة بصورة عامة</h3>
                    </div>
                </div>
                <div ng-show="expandmeGeneral" class="fadeInRightBig">
                    <div class="Page-Inner-Padding-Top"></div>
                    <p>1.	نسخة عن بطاقة الهوية و خلاصة قيد المواطن</p>
                    <p>2.	نسخة عن جواز سفر اصحاب الترخيص. </p>
                    <p>3.	تعبئة استمارة التسجيل و الترخيص التجاري ، تتوفر في الموقع الالكتروني للدائرة و في مراكز الخدمة. </p>
                    <p>4.	نسخة عن صفحة الاقامة او تاشيرة الزيارة لغير مواطني دول مجلس التعاون الخليجي.</p>
                    <p>6.	كتاب من دائرة المحاكم بعدم الممانعة من ممارسة التجارة لمن هم دون 21 سنة.</p>
                    <p>7.	موافقة الجهات الحكومية الاخرى على النشاط في حال تطلب الامر ذلك.</p>
                    <div class="Page-Inner-Padding-Top"></div>
                    <h4>ملاحظة : بعد الحصول على الموافقة المبدئية و حجز الاسم التجاري : ايصال الموافقة المبدئية و جميع المستندات المقدمة سابقا يجب توفير المستندات التالية:-</h4>
                    <div class="Page-Inner-Padding-Top"></div>
                    <p>8.	نسخة من شهادة توثيق عقد الايجار الصادرة من دائرة البلدية و التخطيط.</p>
                    <p>9.	عقد التاسيس مصدقا حسب الاصول للشركات بانواعها. </p>
                    <p>10.	عقد تعيين وكيل الخدمات مصدقا حسب الاصول للمؤسسات المهنية و الشركات المدنية المملوكة للمقيمين من غير مواطني دول مجلس التعاون الخليجي 100% و التي تتضمن وكيل خدمات محلي من دولة الامارات العربية المتحدة.</p>
                    <p>11.	اي موافقات خارجية اخرى يتطلبها النشاط المراد مزاولتة.</p>
                </div>

                <div ng-model="expandme">
                    <div ng-click="expandme=!expandme">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i>  المستندات المطلوبة للحصول على الخدمة :</h3>
                    </div>
                </div>
                <div ng-show="expandme" class="fadeInRightBig">

                    <p>
                        •	نسخة عن بطاقة الهوية و خلاصة قيد المواطن.<br />
                        •	صورة من جواز سفر مالك الترخيص.<br />
                        •	صورة من خلاصة القيد للمواطن.<br />
                        •	نسخة سارية من صورة الترخيص للمؤسسة الام.<br />
                        •	صورة من عقد الإيجار ساري المفعول أو صورة من ملكية العقار أو الخارطة سارية المفعول في حالة كون العقار بأسم صاحب الترخيص

                    </p>

                </div>


                <div ng-model="expandme4">
                    <div ng-click="expandme4=!expandme4">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> خطوات تقديم الخدمة:</h3>
                    </div>
                </div>
                <div ng-show="expandme4" class="fadeInRightBig">
                    <p>
                        1.	تعبئة نموذج طلب الترخيص<br />
                        2.	إرفاق المستندات المطلوبة<br />
                        3.	الحصول على الموافقة من إدارة الرقابة والتفتيش<br />
                        4.	حجز إسم تجاري<br />
                        5.	توفير الموافقات الخارجية<br />
                        6.	مراجعة كاونتر الاستشارات بمركز الخدمة واعتماده صحة البيانات<br />
                        7.	دفع الرسوم<br />
                        8.	استلام الترخيص

                    </p>

                </div>





                <div ng-model="expandme5">
                    <div ng-click="expandme5=!expandme5">
                        <h3 class="CollapsTitle animated fadeInRightBig"><i class="ion-ios-arrow-down"></i> الموافقات والاعتمادات المطلوبة من جهات خارجية</h3>
                    </div>
                </div>
                <div ng-show="expandme5" class="fadeInRightBig">
                    <p>
                        •	موافقة وزارة الاقتصاد.<br />
                        •	موافقة الجهات الحكومية الاخرى على النشاط في حال تطلب الامر ذلك.<br />
                        •	اي موافقات خارجية اخرى يتطلبها النشاط المراد مزاولتة.

                    </p>

                    <h4>النماذج المتعلقة بطلب الخدمة</h4>
                    <p>طلب ترخيص  EA-1-1-F1</p>
                    <h4>القسم المعني بتقديم الخدمة</h4>
                    <p>قسم التراخيص الاقتصادية</p>

                </div>


            </div>
        </ion-content>
        </ion-content>
    </ion-view>