
<link href="css/Lang.css" rel="stylesheet" />
<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="SplashWrapper">
            <div style="height: 2em"></div>
            <div class="TAC animated01010 fadeIn"><img src="img/logo.png" style="width: 70%;" /></div>
            <div style="height: 3em"></div>
            <div class="TAC animated0101 fadeIn"><img src="img/govDr.png" style="width: 50%;" /></div>
            <div style="height: 3em"></div>
            <div>
                <table class="W70 MCenter animated0102 fadeIn">
                    <tr>
                        <td class="TAC">
                            <a ng-click="setAr()"><img src="img/splachAr.png" /></a>
                        </td>
                        <td class="TAC">
                            <a ng-click="setEn()"><img src="img/splachEn.png" /></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="height: 3em"></div>
            <div class="TAC animated01 fadeIn">
                <img src="img/ajmanlogo.png" style="width: 60%;" />
            </div>
        </div>

    </ion-content>
</ion-view>



