
<link href="css/splash.css" rel="stylesheet" />
<ion-view hide-nav-bar="true" view-title="">
    <ion-content>

        <div class="SplashContainer40"></div>
        <div class="SplashContainer">
            <div class="Img1 animated01010 fadeIn"><img src="img/Splash/1.png" /></div>
            <div class="Img2 animated0101 fadeIn"><img src="img/Splash/2.png" /></div>
            <div class="Img3 animated0102 fadeIn"><img src="img/Splash/3.png" /></div>
            <div class="Img4 animated01 fadeIn"><img src="img/Splash/4.png" /></div>
        </div>

    </ion-content>
</ion-view>